
/* /////////////////上方///////////////// */
.activity{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
}
.activity .banner{
    /* border: 1px solid orange; */
    margin-bottom: 5%;
}
.activity .banner .pic{
    /* border: 1px solid #000; */
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 1 / 1 ;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadowsmall);
    animation: slideInDown 1s;
}
.activity .banner .pic .pic-item{
    /* border: 1px solid #000; */
    background-image: url(../pic/S__25436725.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-attachment:fixed;
}
.activity .banner .inf{
    /* border: 1px solid #000; */
    border-radius: 0 0px 40px 0;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    box-shadow: var(--box-shadowsmall);
} 
.activity .banner .inf .num{
    /* width: 25%; */
    padding: 0 20px;
    font-size: 2.2rem;
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    color:white;
    background-color: var(--color2);
}
.activity .banner .inf h3{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 30px;
    color:var(--imcolor1);
}
.activity .banner .pic .btn-3{
    position: absolute;
    right:4%;
    bottom:10%;
    background-color: white;
}
.activity .banner .pic .btn-3,
.activity .item .inf .btn-3{
    font-size: 1rem;
}
@media screen and (min-width:768px){
    .activity .banner .pic{
        aspect-ratio: 2.2 / 1;
        box-shadow: var(--box-shadow);
    }
    .activity .banner .inf{
        box-shadow: var(--box-shadow);
    } 
    .activity .banner .inf .num{
        font-size: 4rem;
    }
    .activity .banner .inf h3{
        /* border: 1px solid #000; */
        font-size: 1.8rem;
    }
    .activity .banner .pic .btn-3,
    .activity .item .inf .btn-3{
    font-size: 1.2rem;
    }
}
@media screen and (min-width:1200px){
    .activity .banner .pic .pic-item::after{
        content:"MORE >";
        width: 15%;
        position: absolute;
        top:0;
        bottom:0;
        height: 100%;
        right:0;
        opacity: .8;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        text-align: center;
        font-size: 1.2rem;
        transition: ease .5s;
        color:var(--wcolor);
        background-color: white;
    }
    .activity .banner .pic .pic-item:hover:after{
        content:"盒子戚風的最新口味，焦糖泰奶脆脆盒子，焦糖泰奶脆脆盒子戚風，夾層是經典lotus蓮花餅加伊斯尼鮮奶油，泰奶控千萬不能錯過";
        padding: 40px;
        width: 25%;
        font-weight: 300;
        font-family: 'Saira Condensed', sans-serif;
    }
}




/* /////////////////下方///////////////// */
.activity .item {
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    gap:40px;
}
.activity .item .box{
    /* border: 1px solid #000; */
    border-radius: 10px;
    position: relative;
    transition: .3s;
    width: 100%;
}
.activity .item .box .pic{
    width: 100%;
    padding-bottom: 65%;
    border-radius: 40px;
    box-shadow: var(--box-shadowsmall);
}
.activity .item .box:nth-of-type(odd) .pic {
    height: 100%;
    background-color: white;
}
.activity .item .box:nth-of-type(2) .pic {
    background-image: url(../pic/CDD4D3F1-D54E-4BA3-A812-5CDCD417E66C_1_105_c.jpeg);
    opacity: .8;
}
.activity .item .box:nth-of-type(3) .pic {
    background-image: url(../pic/LINE_ALBUM_220306_26.jpg);
    background-position: -400px -230px;
    opacity: .8 ;
}
.activity .item .box .inf{
    /* border: 2px solid #000; */
    width: 100%;
    height: 100%;
    padding: 18% 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:0;
}
.activity .item .box .inf h3{
    /* border: 1px solid #000; */
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    color:white;
}
.activity .item .box:first-of-type .inf h3{
    color:var(--imcolor1);
}
.activity .item .box:first-of-type .inf p{
    display: none;
}
.activity .item .box:nth-of-type(2) .inf  .btn-3,
.activity .item .box:nth-of-type(3) .inf  .btn-3{
    background-color: white;
}
.activity .item .box .num{
    border-radius:40px 0px 20px 0px ;
    padding: 0 20px;
    position: absolute;
    top:0;
    left:0;
    font-size: 2.2rem;
    font-family: 'Yusei Magic', sans-serif;
    background-color:var(--color2);
    color:white;
}
.activity .item .describe{
    /* border: 1px solid #000; */
    flex-grow: 1;
    padding: 0 40px;
}
.activity .item .detail {
  display: none;
}


@media screen and (min-width:768px){
    .activity .item {
        /* border: 1px solid #000; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:40px;
    }
    .activity .item .box:hover{
        transform:rotate(5deg);
    }
    .activity .item .box:first-of-type:hover{
        transform:rotate(-5deg);
    }
    .activity .item :first-child{
        grid-column-start: 1;
        grid-row-start:1 ;
        grid-row-end:3 ;
    }
    .activity .item .box .pic{
        box-shadow: var(--box-shadow);
    }
    .activity .item .box .inf{
        padding: 10% 4%;
    }
    .activity .item .box .inf h3{
        margin: 60px 25px;
        font-size: 1.8rem;
    }
    .activity .item .box:first-of-type .inf p{
        display: block;
        margin: 20px 20px ;
        margin-bottom:2% ;
        padding: 5px 20px;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 400;
        color:var(--color2);
    }
    .activity .item .box .num{
        font-size: 4rem;
    }
}
@media screen and (min-width:1200px){
    .activity .item .detail {
        display: block;
        padding: 20px;
        font-size: 1.4rem;
        text-align: left;
        margin-bottom:50px ;
        color:var(--wcolor);
        font-weight: 200;
    }

}
