
:root{
/* 變數----顏色 */
    --imcolor1:#AF6E4D;
    --imcolor2:#BD8B65;
    --color1:#CBA271;
    --color2:#d2b48d;
    --color3:#E7D4AB;

    --wcolor:#9b9b9b;
    --w2color:#949494;
    --bcg-color:#FFF7ED;

/* 變數----陰影 */
    --box-shadow:5px 5px 10px #b9b9b9;
    --box-shadowsmall:2px 2px 3px #b9b9b9;
/* 變數----邊界寬度 */
    --width-:1200px;
}

/* css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor:url(../texture/cursor.svg),auto; */
    background-repeat: no-repeat;
    list-style: none;
}
/* *:active{
    cursor:url(../texture/active.svg),auto;
} */
/* a:hover , img:hover , [class*="btn-"]:hover, i:hover ,button:hover,
li:hover{
    cursor:url(../texture/cursor.svg),auto;
} */

body{
    background-color: var(--bcg-color);
    position: relative;
    font-family: 'Saira Condensed', sans-serif;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
h1{
    position: fixed;
    top:0;
    left:-100000px;
}
a{text-decoration: none;}
h2{
    font-weight: 500;
}
h2,h3,h4,h5,h6{
    /* border: 1px solid #000; */
    color:var(--wcolor);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    letter-spacing: .15em;
    text-indent: 0.15em;
    line-height: 1.8em;
}   
p{
    font-weight: 200;
    color:var(--wcolor);
    letter-spacing: .1em;
    text-indent: 0.1em;
    /* margin-right: -0.1em; */
    line-height: 1.8em;
}
#new-dessert:target::before,
#hot-dessert:target::before,
#story:target::before{
    content:"";
    height: 20px;
    display: block;
}
#form:target::before{
    content:"";
    height: 90px;
    display: block;
}


/* 手機 */
.wrap{
    /* border: 1px solid #000; */
    width:88%;
    margin: auto;
}
/* 平板直 */
@media screen and (min-width:768px){
    .wrap{
        min-width:calc(700 / 768 * 100%);
    }
}
/* 平板橫 */
@media screen and (min-width:992px){
    .wrap{
        min-width:calc(920 / 992 * 100%);
    }
}
/* 平板pro+電腦 */
@media screen and (min-width:1200px){
    .wrap{
        min-width:calc(1200 / 1440 * 100%);
    }
}

/* ---------------導覽列--------------- */

nav{
    /* border: 1px solid blue;  */
    width: 100%;
    min-height: 50px;
    position:fixed;
    display: flex;
    top:0;
    align-items:center;
    background-color:var(--color1);
    box-shadow: var(--box-shadowsmall);
    /* opacity: 0.9; */
    z-index: 10;
}
nav .wrap{
    /* border: 1px solid red; */
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    z-index: 20;
}
nav a{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
nav ul:first-of-type,nav ul:nth-of-type(2){
    display: none;
}
nav ul:nth-of-type(2){
    /* border: 2px solid #000; */
    padding: 20px;
    height: 100vh;
    position: absolute;
    display: block;
    top:50px;
    left:-100%;
    transition: .8s;
}
/* 漢堡 */
nav .wrap label{
    width: 24px;
    height: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}
nav .wrap label span{
    margin: auto;
    width: 24px;
    height: 2px;
    position: absolute;
    left:0;
    right:0;
    background-color: var(--bcg-color);
    transition: .4s;
}
nav .wrap label span:first-of-type{
    top:3px;
}
nav .wrap label span:nth-of-type(2){
    top:0;
    bottom:0;
}
nav .wrap label span:nth-of-type(3){
    bottom:3px;
}
nav #check{
    position: absolute;
    display: none;
}
nav #check:checked ~ ul:nth-of-type(2){
    /* border: 4px solid #000; */
    width: 180px;
    padding: 35px;
    padding-top: 60px;
    left:0;
    border-radius: 0% 48% 48% 0% / 10% 45% 45% 10% ;
    background-color: white;
    box-shadow: 0px 2px 2px rgb(208, 208, 208);

}
nav #check:checked  ~ label span:first-of-type{
    top:0;
    bottom:0;
    transform: rotate(45deg);
}

nav #check:checked  ~ label span:nth-of-type(2){
    display: none;
}

nav #check:checked  ~ label span:nth-of-type(3){
    top:0;
    bottom:0;
    transform: rotate(315deg);
}
nav .right-icon{
    /* border: 1px solid #000; */
    margin-bottom: 10px;
}
nav .right-icon :nth-of-type(2){
    margin-left: 3px;
}
nav ul:nth-of-type(2) li a{
    /* border: 1px solid #000; */
    color:var(--imcolor1);
    display:block;
    margin-bottom: 15px;
}
nav .logo {
    /* border: 1px solid #000; */
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
nav .logo a {
    display: block;
}
nav .logo a img{
    width: 100px;
}
nav i {
    /* border: 1px solid #000; */
    color:var(--color2);
    font-size: 1.2rem;
    vertical-align: top;
}

/* 平板橫以上 */
@media screen and (min-width:992px){
    nav{
        /* border: 4px sol id #000; */
        min-height: 80px;
        opacity: 0.9;
    }
    nav .wrap{
        /* border: 1px solid #000; */
        position: relative;
        margin-top: .2%;
    }
    nav label span
    ,nav .right-icon{
        display: none;
    }
    nav .logo {
        /* border: 1px solid #000; */
        top:5px;
        left:50%;
        transform: translateX(-60px);
    }
    nav .wrap .logo img{
        /* border:1px solid red; */
        width: 120px;
    }
    nav .wrap ul:nth-of-type(1){
        /* border:1px solid black; */
        position: absolute;
        top:5px;
        right:0;
        display: flex;
    }
    nav .wrap ul:nth-of-type(2){
        /* border:2px solid blue; */
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 0;
        height: auto;
        position: relative;
        left:0;
        right:0;
        top:40px;
        transition: 0s;
    }
    nav #check:checked ~ ul:nth-of-type(2){
        /* border: 4px solid #000; */
        padding: 0px;
        background-color: transparent;
    }
    nav ul:nth-of-type(2) li a{
        /* border: 1px solid #000; */
        display: inline-block;
        width: 100px;
        margin: 0 10px;
        font-size:1rem;
        font-weight: 500;
        text-align: center; 
        color:var(--bcg-color);
    }
    nav  i{
        /* border: 1px solid #000; */
        margin-left: 10px;
        font-size: 1.4rem;
    }
    nav  i:hover{
        opacity: .9;
    }
  
}

/* ---------------footer--------------- */


footer{
    /* border: 1px solid #000; */
    width: 100%;
    min-height: 45px;
    position: fixed;
    bottom: 0;
    background-color: var(--color1);
    z-index: 5;
}
footer ul:nth-of-type(1){
    /* border: 1px solid #000; */
    padding: 10px 0;
    display:flex;
    justify-content: space-between;
}
footer  .nav,footer .link,footer .cj, footer .final{
    display:none;
}
footer ul:nth-of-type(1) li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer ul:nth-of-type(1) li a i{
    /* border: 1px solid #000; */
    color:var(--bcg-color);
    font-size: 1.4rem;
    margin-bottom: 10px;
}
footer ul:nth-of-type(1) li a p{
    font-size: .4rem;
    color:var(--bcg-color);
}

.footer-hidden{
    visibility: hidden;
}

@media screen and (min-width:992px){
    footer{
        /* border: 2px solid purple; */
        height: auto;
        padding-top:15%;
        padding-bottom: 10px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        background-image: url(../texture/footer.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-color: transparent;
        position: relative;
    }
    footer .wrap{
        /* border: 1px solid #000; */
        height: 100%;
    }
    footer  .nav,footer .link,footer .cj, footer .final,
    .footer .link a{
        display:block;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    footer ul:nth-of-type(1){
        display: none;
    }
    footer  .nav,footer .cj ,.footer .final,
    footer .link{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer  .nav li{
        /* border: 1px solid #000; */
        margin: 0 8px;
    }
    footer  .nav a,footer  .nav li p{
        color:var(--imcolor1);
        font-size: 1.4rm;
        transition: .5s;
    }
    footer  .nav a:hover{
        color: var(--bcg-color);
    }
  
    footer .cj {
        /* border: 1px solid #000; */
        margin-top: 80px;
    }
    footer .cj p ,footer .final p{
        color:var(--color3);
        font-size: .5rem;
        text-align: center;
        margin:5px 0;
    }
    footer .cj a i {
        font-size: 1.2rem;
        margin: 0 5px;
        color:var(--color3);
    }
    
}


/* /////////////////標題形式一///////////////// */
h2{
    border: 1px solid    #000;
    margin-top: 20%;
    margin-bottom: 10%;
}
h2 .title-1{
    /* border: 1px solid #000; */
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}
h2 .title-1 .line{
    /* border:1px solid red ; */
    width: 65px;
    height: 15px;
    border-radius: 5px;
    background: radial-gradient(var(--imcolor2), var(--imcolor2) 2px, transparent 2px, transparent);
    background-size: 15px 100%;
}
h2 .title-1 .middle{
    /* border:2px solid red; */
    text-align: center;
    margin: 0 10px;
}
h2 .title-1 .middle p:first-child{
    /* border:1px solid red; */
    font-size:2rem;
    font-weight: 500;
    color: var(--imcolor1);
    text-shadow: var(--box-shadowsmall);
}
h2 .title-1 .middle p:last-child{
    /* border:1px solid blue; */
    color: var(--color2);
    font-size:1rem;
    font-weight: 400;
    margin-top: -10px;
}
@media screen and (min-width:768px){
    h2{
        margin-top: 120px;
        margin-bottom: 50px;
    }
    h2 .title-1 .line{
        /* border:1px solid red ; */
        width: 80px;
    }
    h2 .title-1 .middle p:first-child{
        /* border:1px solid red; */
        font-size:2.4rem;
    }
    h2 .title-1 .middle p:last-child{
        /* border:1px solid blue; */
        font-size:1.4rem;
    }
}
@media screen and (min-width:1200px){
    h2 .title-1 .line{
        /* border:1px solid red ; */
        width: 120px;
    }
    h2 .title-1 .middle p:first-child{
        font-size:3rem;
    }
    h2 .title-1 .middle p:last-child{
        font-size:1.5rem;
    }
    h2 .title-1 .middle{
        /* border:2px solid red; */
        text-align: center;
        margin: 0 15px;
    }
}




/* /////////////////標題形式二///////////////// */

.title-2-1 ,.title-2-2{
    /* border: 1px solid rgb(49, 46, 46); */
    margin: auto;
    width: 100%;
    margin-bottom: 1%;
    margin-top: 15%;;
}
.title-2-1 .wrap,.title-2-2 .wrap{
    /* background-color: var(--color3); */
    border-radius: 30px;
    text-align: center;
    margin-bottom: 0;
}
.title-2-1 .wrap{
    /* border:2px solid var(--color3); */
    border-radius: 30px;
}
.title-2-1 .wrap p,.title-2-2 .wrap p{
    font-weight: 400;
    font-size: 1.4rem;   
}
.title-2-2 .wrap p{
    color:white;
}
.title-2-1 .wrap p{
    color:var(--color3);
}

@media screen and (min-width:768px){

    .title-2-1 .wrap p,.title-2-2 .wrap p{
        font-size: 1.6rem;   
    }

}

/* /////////////////側邊按鈕///////////////// */

.btn-aside-1,.btn-aside-2,.btn-aside-3{
    display: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

@media screen and (min-width:1200px){
    .btn-aside-1,.btn-aside-2{
        display: block;
    }
    .btn-aside-1,.btn-aside-2,.btn-aside-3{
        /* border:1px solid red; */
        /* writing-mode: vertical-rl;   */
        box-shadow: var(--box-shadow);
        z-index: 50;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
    }
    .btn-aside-1,.btn-aside-2{
        border-radius: 15px 0px 0px 15px;
        padding: 35px 8px;
        right:0;
        transition: .5s;
    }
    .btn-aside-1 i,.btn-aside-2 i{
        /* border: 1px solid #000; */
        font-size: 1.6rem;
        text-align: center;
    }
    .btn-aside-1{
        top:120px;
        background-color:var(--color1);
        color:white;
    }
    .btn-aside-1:hover{
        background-color: var(--imcolor1);
    }
    .btn-aside-2{
        top: 230px;
        background-color:white;
        color:var(--color1);
    }
    .btn-aside-2:hover{
        color:var(--imcolor1);
    }
    .btn-aside-3{
        /* border: 1px solid #000; */
        width: 50px;
        height: 50px;
        border-radius: 50px;
        right:10px;
        bottom:20px;
        color:var(--imcolor2);
        text-align: center;
        background-color: white;
        flex-direction: column;
        animation: pulse .5s infinite;
    }
    .btn-aside-3 i{
        font-size: 1rem;
    } 
}


/* /////////////////按鈕一///////////////// */

.btn-1,.btn-1-2{
    /* border: 1px solid #000; */
    display:inline-block;
    padding: 5px 14px;
    border-radius: 25px;      
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size:.8rem;
    font-weight: 300;
    transition: .5s;
}
.btn-1{
    border:1px solid var(--color3);
    color: white;
    background-color: var(--color3);
}
.btn-1-2{
    border:1px solid var(--imcolor1);
    color:var(--imcolor1);
    background-color:white;

}  

@media screen and (min-width:768px){
    .btn-1,.btn-1-2{
        padding: 8px 25px;   
        font-size:1.2rem;
    }
    .btn-1:hover{
        border:2px solid var(--imcolor1);
        color:var(--imcolor1);
        background-color:white;
    }
    .btn-1-2:hover{ 
        /* background-color:var(--imcolor2); */
        /* color:white; */
        box-shadow: var(--box-shadow);
    }
    .btn-1{
        border:2px solid var(--color3);
    }
    .btn-1-2{
        border:2px solid var(--imcolor1);
    
    }  

}









/* /////////////////按鈕三///////////////// */

.btn-3{
    border-radius: 25px;
    display: inline-block;
    font-size:1.2rem;
    text-align: center;
    font-weight: 500;
    padding: 3px 20px;
    color:var(--imcolor2);  
    /* background-color: var(--color3); */
    border:2px solid var(--color1);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-3:hover{
    /* border:3px solid var(--imcolor2); */
    color: var(--color1);
    /* opacity: .8; */
    
}

/* /////////////////按鈕四///////////////// */
.btn-4{
    font-size:1.2rem;
    display:inline-block;
    text-decoration: none;
    /* border:2px solid red; */
    border-radius: 10px 10px 0 0 ;
    box-shadow:10px 10px 0 #b9b9b9 ;
    color: var(--imcolor2);
    background-color: white;
    padding: 6px 25px;
    transition: .5s;

}

.btn-4:hover{
    background-color: var(--color2);
    color: white;
}

/* /////////////////按鈕五///////////////// */


.btn-5-1 , .btn-5-2{
    background-color: #000;
    border:0px;
    border-radius: 20px;
    padding: 12px 22px;
    font-weight: 400;
    color:white;
    display: inline-block;
}
.btn-5-1 button,.btn-5-2 button{
    /* border:0px; */
    font-size:1rem;
    color:white;
    border:0px;
}
.btn-5-1,.btn-5-1 button{
    background-color: var(--color2);
}
.btn-5-2,.btn-5-2 button{
    background-color: var(--imcolor2);
}
form .fa-cart-shopping{
    color:white;
    font-size: .8rem;
}
@media screen and (min-width:768px){
    .btn-5-1 , .btn-5-2{
        /* background-color: #000; */
        border:0px;
        border-radius: 20px;
        padding: 12px 22px;
        font-weight: 400;
        color:white;
        display: inline-block;
    }
    
    .btn-5-1 button,.btn-5-2 button{
        /* border:0px; */
        font-size:1.4rem;
        color:white;
        border:0px;
    
    }
    
    .btn-5-1:hover,.btn-5-2:hover{
        opacity: .9;
    }
    
    .btn-5-1,.btn-5-1 button{
        background-color: var(--color2);
    }
    
    .btn-5-2,.btn-5-2 button{
        background-color: var(--imcolor2);
    }
    
    form .fa-cart-shopping{
        color:white;
        font-size: 1.2rem;
    }


}


/* /////////////////sale標籤///////////////// */

.label-sale{
    /* border: 1px solid #000; */
    padding:4px 28px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-size:1.6rem;
    background-color: var(--imcolor1);
    color:white;
    box-shadow: var(--box-shadow);
    transform: rotate(-35deg);
    transition: 0s;
}



/* /////////////////title///////////////// */


.title-shot{
    display: flex;
    align-items: center;
}

.title-shot p{
    color:var(--imcolor1);
    font-size: 1rem;
    text-align: center;
    margin: 0 -5px;
}

.title-shot::before , .title-shot::after{
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    z-index: 10;
    /* border: 1px solid #000; */
    transform: scale(.4);
}

.title-shot::before{
    content:"";
    background-image: url("../texture/line.svg");
    
}

.title-shot::after{
    content:"";
    background-image: url("../texture/Line 2.svg");

}
.transtitle {
    transform: rotate(-30deg);
}

.title-shot{
    animation:moveup .5s infinite;
}
@keyframes moveup{
    0%{
        transform: translateY(0%);
    }
    25%{
        transform: translateY(10%);
    }
    50%{
        transform: translateY(20%);
    }

    75%{
        transform: translateY(10%);
    }

    100%{
        transform: translateY(0%);
    }
}




/* IG-post */

.ig-post {
    /* border: 1px solid #000; */
    width: 100%;
    background-color:var(--color3);
    /* padding: 35px 10px 8px 10px; */
    margin-top: 50px;
    margin-bottom: 100px;
}
.ig-post .wrap {
    /* border: 1px solid #000; */
    display: grid;
    padding: 40px 0;
    grid-template-columns: 1fr 1fr ;
    justify-content: space-between;
    gap:20px;
}
.ig-post .follow{
    background-color: var(--imcolor2);
}
.ig-post .pic, .ig-post .follow{
    /* border: 1px solid #000; */
    width:100%;
    padding-bottom: 100%;
    position: relative; 
    overflow: hidden;
}
.ig-post .pic img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    background-color: var(--color2);
    vertical-align: top;
    /* opacity: .2; */
}
.ig-post .pic::after,.ig-post .follow::after{
    /* border: 1px solid #000; */
    content:"";
    background-color: rgba(15, 15, 15, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .1rem;
    text-indent: .1rem;
    transition: 1s;
}
.ig-post .follow i , .ig-post .follow .inf {
    position: absolute;
    color:white;
}
.ig-post .follow i {
    font-size: 1.8rem;
    left:5%;
    top:5%;
}
.ig-post .follow .inf{
    /* border: 2xpx solid #000; */
    right:5%;
    bottom: 0%;
}
.ig-post .follow .inf p{
    /* border: 1px solid #000; */
    color:white;
    font-size: 1rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}
@media screen and (min-width:768px){
    .ig-post .wrap {
        /* border: 1px solid #000; */
        grid-template-columns: 1fr 1fr 1fr;
    }
    .ig-post .follow i {
        font-size: 2.8rem;
    }
    .ig-post .follow .inf p{
        font-size: 1.4rem;
    }
    .ig-post a:nth-of-type(7){
        /* border: 1px solid #000; */
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .ig-post .follow{
        width:100%;
        padding-bottom: 48%;
    }

}
@media screen and (min-width:1200px){
    .ig-post .wrap {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .ig-post .follow i {
        font-size: 3rem;
    }
    .ig-post .follow .inf p{
        font-size: 1.5rem;
    }
    .ig-post .pic:hover::after,.ig-post .follow:hover::after{
        /* border: 1px solid #000; */
        content:"";
        background-color: rgba(15, 15, 15, 0.5);
        color:white;
        text-align:center;
        font-size: 1.2rem;
        transition: background-color 1s;
    }
    .ig-post .pic:hover::after{
        content:"查看貼文";
    }
    .ig-post a:nth-of-type(7){
        /* border: 5px solid #000; */
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
    .ig-post .follow{
        /* border: 1px solid #000; */
        width:100%;
        padding-bottom: 100%;
    }
}



/* /////////////////icon///////////////// */


[class*="fa-circle-chevron"]{
    background-color:white ;
    color:var(--imcolor2);
    border-radius:22px ;
    font-size: 22px;
    transition: .5s;
}

[class*="fa-circle-chevron"]:hover{
    color:var(--imcolor1);
}

[class*="fa-chevron"]:hover{
    color:var(--imcolor1);
}

[class*="fa-chevron"]{
    color:var(--imcolor2);
    border-radius:32px ;
    font-size: 32px;
}


@media screen and (min-width:768px){
    [class*="fa-circle-chevron"]{
        border-radius:32px ;
        font-size: 32px;
    }

}

/* /////////////////導覽列變化///////////////// */

.dessert-page2 nav .wrap li:nth-child(4) a:before,
.dessert-page1 nav .wrap li:nth-child(4) a:before{
    border: 1px solid #000;
    content:"";
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-right: 5px;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
}  
.notice nav .wrap li:nth-child(7) a:before{
    border: 1px solid #000;
    content:"";
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-right: 5px;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
    
}  
.activity nav .wrap li:nth-child(8) a:before{
    border: 1px solid #000;
    content:"";
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-right: 5px;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
    
}  
.selection nav .wrap li:nth-child(9) a:before{
    border: 1px solid #000;
    content:"";
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-right: 5px;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
    
}  
