/* /////////////////背景圖///////////////// */
body{
    /* border: 5px solid #000; */
    width: 100%;
    background-image: url(../texture/bcg5.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 10px 200px;
    position: relative;
}

.dessert-page1{
    width: 100%;
    /* border: 1px solid #000; */
}

/* /////////////////小導覽列///////////////// */



.dessert-page1 .nav-btn-2{
    /* border: 1px solid #000; */
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dessert-page1 .nav-btn-2 .btn-2{
    border: 4px solid var(--color3);
    background-color: var(--color2);
    color: white;
    border-radius: 18px;
    padding: 5px 10px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

@media screen and (min-width:768px){
    .dessert-page1 .nav-btn-2 .btn-2{
        margin: 30px;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 300;
        transition: .4s ;
        writing-mode: horizontal-tb;;
    }
    .dessert-page1 .nav-btn-2 .btn-2:hover{
        background-color: var(--color1);
    }
}

/* /////////////////主要內容///////////////// */

.dessert-page1 .container{
    /* border: 1px solid #000; */
    background-color: white;
    border-radius: 40px;
    padding: 60px 10px;
    margin-top: 80px;
    box-shadow: var(--box-shadowsmall);
}
.dessert-page1  .owl-carousel{
    width: 90%;
}
.list {
    border: 1px solid rgb(64, 88, 224);
    display: flex;
    justify-content: space-between;
    margin: auto;
    left: 0;
    padding:20px 0px;
}
.dessert-page1 .container .list li{
    border: 1px solid rgb(125, 172, 37);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.dessert-page1 .container .list .pic{
    /* border: 1px solid #000; */
    margin-bottom: 10px;
    aspect-ratio: 1 / .8; 
    position: relative;
    overflow: hidden;
}
.dessert-page1 .container .list li .inf{
    border: 1px solid rgb(255, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;      
    /* height: 300px; */
    /* aspect-ratio: 1 / . 7 ;÷  */
    flex-grow: 1;
}
.dessert-page1 .container .list .pic img:nth-of-type(1){
    /* border: 1px solid #000; */
    height: 100%;
    object-fit: cover;
}
.dessert-page1 .container ul li .inf h3{
    /* border: 1px solid #000; */
    font-size: 1.3rem;
}
.dessert-page1 .container ul li .inf h3+p{
    border: 1px solid #000;
    font-size: 1rem;
    margin: 3% 0;
    flex-grow: 1;
}
.dessert-page1 .container ul li .inf .price{
    /* border: 1px solid #000; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dessert-page1 .container ul li .name{
    /* border: 1px solid #000; */
    position: relative;
}
.dessert-page1 .container ul li .name::after{
    /* border: 1px solid #000; */
    content:" ";
    height: 15px;
    width: 100%; 
    background-image: url(../texture/Waves.svg);
    background-repeat: repeat-x;
    background-position: center;
    position: absolute;
    bottom: -10px;
    left: 50%;
    right:50%;
    text-align: center;
    transform: translateX(-50%);
}
.dessert-page1 .container ul li .price p{
    /* border: 1px solid #000; */
    font-weight: 400;
    font-size: 1.8rem;
    color:var(--imcolor2)
}
.dessert-page1 .container ul li .price i{
    font-size: 1.4rem;
    color:var(--imcolor2);
    transition: .2s;
}
/* .dessert-page1 .container  ul li .title-shot{
    border: 1px solid #000;
    position: absolute;
    top:-100px;
    left:-65px;
} */
/* .dessert-page1  main .container .item .column .fa-circle-chevron-left,
.dessert-page1  main .container .item .column .fa-circle-chevron-right{
    border: 1px solid #000;
    margin: auto;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.dessert-page1 .fa-circle-chevron-right{
    right:-20%;
    transform: translateX(65%);
} */
@media screen and (min-width:768px){
    .dessert-page1 .nav-btn-2{
        /* border: 1px solid #000; */
        margin: auto;
        width: 80%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
    }
    .dessert-page1 .nav-btn-2 .btn-2{
        font-family: 'M PLUS Rounded 1c';
        border: 4px solid var(--color3);
        background-color: var(--color2);
        color: white;
        border-radius: 25px;
        margin: 20px;
        padding: 5px 25px;
        font-size: 1.4rem;
        cursor: pointer;
    }
    .dessert-page1 .title-2-1{
        /* border: 1px solid #000; */
        margin-top: 80px;
    }
    .dessert-page1 .container{
        background-color: white;
        border-radius: 80px;
        box-shadow: var(--box-shadow);
        margin-top: 40px;
    }
    .dessert-page1 .container .list li .inf{
        align-items: flex-start;      
        /* aspect-ratio: 1 / .8 ;  */
    }
    .dessert-page1 .container ul li .inf h3{
        /* border: 1px solid #000; */
        font-size: 1.3rem;
    }
    .dessert-page1 .container ul li .inf h3+p{
        /* border: 1px solid #000; */
        font-size: 1rem;
    }
    .dessert-page1 .container ul li .price i{
        font-size: 1.4rem;
    }
}

@media screen and (min-width:1200px){
    .dessert-page1 .nav-btn-2 .btn-2{
        transition: .4s ;
    }
    .dessert-page1 .nav-btn-2 .btn-2:hover{
        background-color: var(--color1);
    }
    .dessert-page1 .container .list li .inf{  
        /* aspect-ratio: 1 / .7 ;  */
    }
    .dessert-page1 .container .list .pic{
        transition: .5s;
    }
    .dessert-page1 .container ul li .inf h3{
        /* border: 1px solid #000; */
        font-size: 1.6rem;
    }
    .dessert-page1 .container ul li .inf h3+p{
        /* border: 1px solid #000; */
        font-size: 1.2rem;
    }
    .dessert-page1 .container ul li .price p{
        font-size: 1.8rem;
    }
    .dessert-page1 .container ul li .price i{
        font-size: 1.4rem;
        transition: .2s;
    }
    .dessert-page1 .container .list li .pic:hover{
        transform: translateY(-10px);
        opacity: .8;
    }
    
}











