/* /////////////////背景圖///////////////// */



/* .dessert-page2{
    width: 100%;
} */


/* /////////////////麵包屑///////////////// */
.dessert-page2 .bread{
    display: none;
}
@media screen and (min-width:768px){
    .dessert-page2 .bread{
        /* border: 1px solid #000; */
        display: flex;
        align-items: center;
    }
    
    .dessert-page2 .bread a,
    .dessert-page2 .bread p{
        /* border: 1px solid #000; */
        margin-right: 20px;
        color: var(--imcolor2);
        font-size: 1.1rem;
    }
}

/* /////////////////上方內容-介紹///////////////// */

.dessert-page2 .summary .introduce{
    /* border: 1px solid #000; */
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
}
.dessert-page2 .summary .introduce .pic{
    width: 100%;
    box-shadow: var(--box-shadow);
    padding-bottom: 60%;
    border-radius: 10px;
}
.dessert-page2 .summary .introduce .inf-container{
    /* border: 1px solid #000; */
    width: 40%;
    padding-bottom: 10%;
    background-color:white;
    position: absolute;
    right: 0%;
    bottom:0%;
    transform: translateY(-100%);
    box-shadow: var(--box-shadowsmall);
}
.dessert-page2 .summary .introduce .inf-container .inf{
    /* border: 1px solid #000; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top:0%;
    bottom:0%;
    position: absolute;
}
.dessert-page2 .summary .introduce .inf-container .inf h3{
    font-size: .8rem;
    text-align: center; 
}
.dessert-page2 .summary .introduce .inf-container .inf p{
    display: none;
}
.dessert-page2 .summary .introduce .pic{
    position: relative;
}
.dessert-page2 .summary .introduce .pic img{
    width: 100%;
    border-radius: 10px;
    vertical-align: top;
    position: absolute;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}
@media screen and (min-width:768px){
    .dessert-page2 .summary .introduce .pic
    ,.dessert-page2 .summary .introduce .inf-container{
        box-shadow: var(--box-shadow);
        width: 53%;
        padding-bottom: 30%;
        border-radius: 10px;
    }
    .dessert-page2 .summary .introduce .inf-container{
        background-color:white;
        position: absolute;
        right: 0;
        top: -45px;
        transform: translateY(0%);
    }
    .dessert-page2 .summary .introduce .inf-container .inf h3{
        /* border: 1px solid #000; */
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
    .dessert-page2 .summary .introduce .inf-container .inf p{
        display: block;
        font-size: 1rem;
    }
}

@media screen and (min-width:992px){
    .dessert-page2 .summary .introduce .inf-container .inf h3{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .dessert-page2 .summary .introduce .inf-container .inf p{
        display: block;
        font-size: 1.4rem;
    }

}

/* /////////////////按鈕二///////////////// */
.nav-btn-2{
    /* border: 1px solid #000; */
    width: 90%;
    display: flex;
    margin: auto;
    margin-bottom:60px;
    justify-content:space-between;
    align-items: flex-start;
}
.dessert-page2-3 .nav-btn-2{
    justify-content:flex-start;
}
.nav-btn-2 button{
    border: 1px solid var(--color2);
    border-radius: 15px;
    margin: 10px;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:.8rem;
    text-align: center;
    color:var(--imcolor2);
    background-color: transparent;
}
.nav-btn-2 button img{
    /* border: 1px solid #000; */
    width: 35px;
}
.nav-btn-2 button p{
    /* border: 1px solid #000; */
    color:var(--imcolor2);
    writing-mode: vertical-lr;
    text-orientation: upright;
}

@media screen and (min-width:768px){
    .nav-btn-2 button{
        border-radius: 20px;
        padding: 10px 25px;
        margin: 10px;
        flex-direction: row;
    }
    .nav-btn-2 button p{
        writing-mode: horizontal-tb;;
    }
}

@media screen and (min-width:1200px){
    .nav-btn-2{
        display: flex;
        margin: auto;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .nav-btn-2 button{
        font-size:1.4rem;
        text-align: center;
        color:var(--imcolor2);
        padding: 5px 25px;
        margin: 0 30px;
        transition: .5s;
    }
    .nav-btn-2 a button{
        border: 2px solid transparent;

    }
   
}
/* ////////////////主要內容///////////////// */

.dessert-page2 main {
    width: 100%;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dessert-page2 main .container{
    /* border: 2px solid purple; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.dessert-page2 main .container .item{
    /* border: 4px solid orange; */
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
.dessert-page2 main .container .item .wrap{
    /* border: 4px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dessert-page2 main .container .item:nth-of-type(odd){
    background-image: url(../texture/left.png);
    background-size: 50%;
    background-position: bottom left;
}
.dessert-page2 main .container .item:nth-of-type(even){
    background-image: url(../texture/right.png);
    background-size: 50%;
    background-position:bottom right;
}
.dessert-page2 main .container .item:last-of-type{
    margin-bottom: 0%;
}
.dessert-page2 main .container .item .pic{
    border: 5px solid white;
    width: 100%;
    aspect-ratio: 1.6 / 1;
    position: relative;
    overflow: hidden;
    border-radius: 0 40px 0 40px;
    margin-bottom: 5%;
}
.dessert-page2 main .container .item .pic img:nth-of-type(1){
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.dessert-page2 main #snow .item:nth-child(1) .pic :first-child{
   transform: scale(1.4);
}
.dessert-page2 main .container .item .inf{
    /* border: 3px solid red; */
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dessert-page2 main .container .item .inf h3{
    width: 100%;
    margin: auto;
    border: 1px solid var(--color2);
    color:var(--imcolor1);  
    font-size: 1.2rem;
}
.dessert-page2 main .container .item .inf h3+p{
    /* border: 1px solid #000; */
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size:.9rem;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.dessert-page2 main .container .item .inf .food-in {
    display: none;
}
.dessert-page2 main .container .item .inf .price{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.dessert-page2 main .container .item .inf .price p {
    color:var(--imcolor1);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 10px;
}
.dessert-page2 main .container .item .inf .price .detail{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
}
.dessert-page2 main .container .item .inf .btn-5-1{
    /* border: 1px solid #000; */
    padding: 5px 10px;
    border-radius: 10px;
}
.dessert-page2 main .container .item .inf .btn-5-1 i{
    font-size: 1rem;
    margin-right: 10px;
}

@media screen and (min-width:768px){
    .dessert-page2 main .container .item .pic{
        border-radius: 0 80px 0 80px;
        margin-bottom: 5%;
    }
    .dessert-page2 main .container .item .inf h3{ 
        font-size: 1.4rem;
    }
    .dessert-page2 main .container .item .inf h3+p{
        font-size:1.2rem;
        white-space: pre-wrap;
    }
    .dessert-page2 main .container .item .inf .price p {
        font-size: 1.8rem;
        margin-right: 20px;
    }
    .dessert-page2 main .container .item .inf .price .detail :first-child{
        /* border: 1px solid #000; */
        width: 100px;
        font-size: 1.6rem;
    }
}
@media screen and (min-width:992px){
    .dessert-page2 main .container .item{
        /* border: 1px solid #000; */
        margin-bottom: 10%;
    }
    .dessert-page2 main .container .item .wrap{
        /* border: 1px solid #000; */
        flex-direction: row;
        margin-bottom: 10%;
    }
    .dessert-page2 main .container .item .pic{
        width: 53%; 
        margin-bottom: 0;
    }
    .dessert-page2 main .container .item .inf{
        width: 47%;
    }
    .dessert-page2 main .container .item .inf ul li p{
        /* border: 1px solid #000; */
        font-size: .3rem;
    }
    .dessert-page2 main .container .item:nth-of-type(odd) .inf{
        /* border: 1px solid #000; */
        padding-left: 40px;
    }
    .dessert-page2 main .container .item:nth-of-type(even) .inf{
        /* border: 1px solid #000; */
        padding-right: 40px;
    }
    .dessert-page2 main .container .item:nth-of-type(even)  .wrap{
        /* border: 2px solid red; */
        flex-direction:row-reverse;
    }
    .dessert-page2 main .container .item .inf h3{
        font-size: 1.8rem;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .dessert-page2 main .container .item .inf h3+p{
        text-align: left;
        margin-bottom: 30px;
        font-size: 1.4  rem;
    }
    
    .dessert-page2 main .container .item .inf ul li .circle img{
        /* border: 1px solid #000; */
        width:60%;
    }
    
    .dessert-page2 main .container .item .inf .food-in {
        display: block;
    }
    .dessert-page2 main .container .item .inf .food-in .title {
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dessert-page2 main .container .item .inf .food-in .title .line{
        /* border: 1px solid #000; */
        width: 70px;
        height: 10px;
        background: radial-gradient(var(--imcolor2), var(--imcolor2) 2px, transparent 2px, transparent);
        background-size: 10px 100%;
    }
    .dessert-page2 main .container .item .inf .food-in .title :nth-child(2){
        font-size: 1.3rem;
        color:var(--imcolor2);
        margin: 0 10px;
    }
    .dessert-page2 main .container .item .inf ul{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .dessert-page2 main .container .item .inf ul li .circle{
        margin: 15px 25px;
        background-color:white;
        aspect-ratio:1 / 1;
        border-radius: 50%;
        box-shadow: var(--box-shadow);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .dessert-page2 main .container .item .inf ul li p{
        font-size: 1rem;
    }
    .dessert-page2 main .container .item .inf .price:nth-of-type(2){
        margin: 3% 0;
    }
    .dessert-page2 main .container .item .inf .price p {
        font-size: 1.8rem;
        margin-right: 20px;
    }
    .dessert-page2 main .container .item .inf .price .detail :first-child{
        /* border: 1px solid #000; */
        width: 100px;
        font-size: 1.6rem;
    }
    .dessert-page2 main .container .item .inf .btn-5-1{
        /* border: 1px solid #000; */
        padding: 10px 15px;
        border-radius: 10px;
    }
}


/* /////////////////食用建議///////////////// */


.dessert-page2 .eat-advice .inf{
    /* border: 1px solid #000; */
    width: 100%;
    border: 1.5px dashed var(--color3);
    border-radius: 15px;
    margin: 15% 0 10% 0;
    padding: 8px 0;
    text-align: center;
    
}

.dessert-page2 .eat-advice .inf :nth-child(odd){
    font-size: .8rem;
    margin-bottom: 1%;
}

.dessert-page2 .eat-advice .inf :nth-child(even){
    font-size: .7rem;
    margin-bottom: 2%;
}

@media screen and (min-width:768px){
    .dessert-page2 .eat-advice .inf{
        /* border: 1px solid #000; */
        width: 100%;
        border: 3px dashed var(--color3);
        border-radius: 15px;
        margin: 2% 0 10% 0;
        padding: 8px 0;
        text-align: center;
        
    }
    
    .dessert-page2 .eat-advice .inf :nth-child(odd){
        font-size: 1.2rem;
        margin-bottom: 1%;
    }
    
    .dessert-page2 .eat-advice .inf :nth-child(2){
        font-size: 1rem;
        margin-bottom: 2%;
    }
}


/* /////////////////表單///////////////// */

.question{
    width: 100%;
    margin-bottom: 8%;
    margin-top: 2%;
}
.question form{
    /* border: 1px solid #000; */
    border-radius: 40px;
    padding: 40px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    box-shadow: var(--box-shadowsmall);
}
.question form .area{
    /* border: 1px solid blue; */
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap:15px;
}  
.question form .date{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0;
}  
.question form .textarea{
    gap:0;
}
.question form  .cake-inf .flavor,
.question form .person-inf .inf{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.question form input,
.question form select,
.question form textarea{
    border: 2px solid var(--color2);
    border-radius: 15px;
    height: 35px;
    background-color: white;
    padding: 8px;
    outline: none;
    color:var(--color3);
    flex-grow: 1;
}
.question input::-webkit-input-placeholder, .question textarea::-webkit-input-placeholder{
    color:var(--color3);
    padding: 5px;
}
.question form textarea{
    resize: none;
    /* width: 100%; */
    height: 100px; 
    display: flex;
    flex-direction: column;
}
.question form .area p,
.question form .area label{
    padding-right:10px;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: .1em;
    text-indent: 0.1em;
    line-height: 1.8em;
    color:var(--wcolor);
} 
.question button{
    border:0;
    background-color: transparent;
    margin: auto;
}
.question button .btn-1{
    padding: 3px 15px;
    border-radius: 15px;
    font-size: 1.2rem;
}
.question .title-2-1 .wrap p{
    color:var(--imcolor1)
}
.question .title-2-1 :last-child{
    text-align: center;
    margin-bottom: 2%;
}
.introduce .pic .btn-control{
    position: absolute;
    z-index: 5;
    bottom:10px;
    display: flex;
    left:5%;
}
.introduce .pic .btn-control span{
    border: 2px solid white;
    background-color: var(--imcolor1);
    border-radius: 10px;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    accent-color:var(--color3);
}

@media screen and (min-width:768px){
    .question form .area{
        gap:0;
        flex-direction: row;
        align-items: center;
    }    
    .question form .cake-inf,
    .question form .person-inf{
        width: 100%;
        justify-content: space-between;
        gap:10px;
    }
    .question .flavor ,
    .question .inf{
        width: calc(100 / 3 * 100%);
    }
    .question form .cake-inf p,
    .question form .person-inf label{
        width: 90px;
    }
    .question form .area p,
    .question form .area label{
        font-size: 1rem;
    } 
    .question form .cake-inf select,
    .question form .person-inf input{
        width: calc(33.3333% - 90px);
    }
    .question form .date label,
    .question form .textarea label{
        width: 90px;
    }

    .introduce .pic .btn-control span:hover{
        background-color: var(--color3);
    }
    
}
@media screen and (min-width:1200px){
    .question form .area{
        margin-bottom: 25px;
    }   
    .question form{
        box-shadow: var(--box-shadow);
    }
    .question form input,
    .question form select,
    .question form textarea{
        height: 45px;
    }
    .introduce .pic .btn-control span:hover{
        background-color: var(--color3);
    }
    .introduce .pic .btn-control span{
        border-radius: 13px;
        width: 13px;
        height: 13px;
        margin: 0 8px;
    }


} 