/* /////////////////入口燈箱///////////////// */
.index #lightbox-bcg{
    /* display: block; */
}
.index .lightbox{
    display: block;
    top:25%;
}

.index .start-frame{
    padding: 50px 20px;
}
.index .start-frame :first-child{
    margin-bottom: 40px;
    font-size: 1.4rem;
    font-weight: 400;
}
.index .start-frame p{
    text-align: center;
}

@media screen and (min-width:768px){
    .index .lightbox{
        display: none;
    }
    .index #lightbox-bcg{
        display: none;
    }
}


/* //////////////////banner////////////////// */
 .banner{
    border: 1px solid transparent;
    width: 100%;
    height: 60vh;
    aspect-ratio: 8 / 6;
    display: flex;
    background-image:
    linear-gradient(rgba(148, 116, 56, 0.5),rgba(255, 255, 255, 0.1)),
    url("../pic/S__18833468\ 1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom right;
    position: relative;
 }
 .banner .pic{
    /* border: 2px solid #000; */
    width: 100%;
    position: absolute;
    bottom: -2%;
}
.banner .pic img{
    /* border: 1px solid #000; */
    vertical-align: top;
    width: 100%;
}
.banner .wrap .frame p{
    display: none;
}
.banner .wrap .frame .btn-1-2{
    /* border: 1px solid #000; */
    display: block;
    position: absolute;
    bottom:30%;
    left:50%;
    transform: translateX(-50%);
}
@media screen and (min-width:768px){

    .banner{
        margin-bottom: -120px;
        aspect-ratio: 16 / 9;
        min-height: 700px;
    }
    .banner .wrap{
        min-height: 500px;
    }
    .banner .wrap .frame{
        /* border: 1px solid #000; */
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: calc(400 / 768 *100%);
        padding: 50px 35px;
        background-color:rgb(255, 255, 255,0.8);
    }
    .banner .wrap .frame p{
        display: block;
        text-align: center;

    }
    .banner .frame :first-child{
        font-size: 1.6rem;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 300;
        color:var(--w2color);
        margin-bottom: 15px;
    }
    .banner .frame :nth-child(2) {
        font-size:1.2rem;
        margin-bottom: 40px;
    }
    .banner .wrap .frame .btn-1-2{
        /* border: 1px solid #000; */
        position: relative;
        left:initial;
        transform: translateX(0%);
    }
}
@media screen and (min-width:992px){
    .banner .wrap .frame{
        width: calc(470 / 1280 *100%);
        position: relative;
        overflow: hidden;
        z-index: 2;
    }
    .banner .wrap .frame::after{
        position: absolute;
        content: "";
        width: 0%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        opacity: .5;
        background-color:white;
        transition: all 1s ease;
        overflow: hidden;
    
    }
    .banner .wrap .frame:hover::after {
        left: 0;
        width: 100%;
    }

}
@media screen and (min-width:1200px){
    .banner{
        background-attachment:fixed;
    }
}


/* /////////////////最新甜點///////////////// */
.new-dessert{
    /* border: 1px solid #000; */
}
.new-dessert .wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.new-dessert .wrap .head,
.new-dessert .wrap .head .title{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.new-dessert .wrap .head{
    /* border: 2px solid blue; */
    margin-bottom: 20px;
}
.new-dessert .wrap .head .title{
    transform: rotate(1.5deg);
}
.new-dessert .wrap .container .word .title{
    display: none;
}
.new-dessert .wrap .head .title img{
    transform: scale(.5);
}
.new-dessert .wrap .container{
    /* border: 1px solid #000; */
    display: flex;
}
.new-dessert .wrap .container .inf{
    /* border: 1px solid #000; */
    width: 90%;
}
.new-dessert .wrap .container .inf p {
    display: inline;
}
.new-dessert .wrap .container .inf p+p::before{
    content: "，";
}
.new-dessert .wrap .container .pic{
    /* border: 5px solid #000; */
    max-width: 300px;
    border-radius: 48% 48% 35% 35% / 64% 64% 35% 35%  ;
    aspect-ratio: 1.3 /1;
    width: 100%;
    overflow: hidden;
    box-shadow: var(--box-shadowsmall);
}
.new-dessert .wrap .container .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.new-dessert .wrap .num p{
    /* border: 1px solid #000; */
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    letter-spacing: .5rem;
    text-shadow: var(--box-shadowsmall);
    font-family: 'Yusei Magic', sans-serif;
    color: var(--color2);
}
.new-dessert .wrap h3{
    color:var(--imcolor1);
    font-size:1.2rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.new-dessert .wrap .container p{
    /* border: 1px solid #000; */
    font-size: .9rem;
}
@keyframes img {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(-10deg); }
   95% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@media screen and (min-width:768px){
    .new-dessert .wrap .container{
        margin-top: 0%;
    }
    .new-dessert .wrap .container{
        display: flex;
        align-items: center;
    }
    .new-dessert .wrap .num p{
        /* border: 1px solid #000; */
        font-size: 3.8rem;
    }
    .new-dessert .wrap h3{
        font-size:1.4rem;
    }
    .new-dessert .wrap .container p{
        font-size: 1.2rem;
    }
    .new-dessert .wrap .head{
        /* border: 1px solid #000; */
        flex-direction: column;
        align-items: flex-start;
    }
    .new-dessert .wrap .container{
        /* border: 1px solid #000; */
        margin-top: -10%;
    }
}

@media screen and (min-width:992px){
    .new-dessert .wrap{
        /* border:3px solid rgb(49, 165, 109); */
        position: relative;
        margin: 15% auto;
    }
    .new-dessert .wrap .head .title{
        display: none;
    }
    .new-dessert .wrap .container .word .title{
        display: flex;
    }
    .new-dessert .head .num{
        /* border: 1px solid #000; */
        position: absolute;
        top:-100px;
    }
    .new-dessert .wrap:nth-child(odd) .head .num{
        /* border: 1px solid #000; */
        right: 0;
    }
    .new-dessert .wrap:nth-of-type(even) .container {
        /* border: 1px solid #000; */
        justify-content: flex-start;
        padding-right: 10%;
    }
    .new-dessert .wrap:nth-of-type(odd) .container {
        justify-content: flex-start;
        padding-left: 10%;
    }
    .new-dessert .container .word{
        /* border: 3px solid #000; */
        width: 50%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }
    .new-dessert .container .pic{
        width: 50%;
        box-shadow: var(--box-shadow);
    }
    .new-dessert .wrap:nth-of-type(odd) .container{
        flex-direction: row-reverse;
    }
    .new-dessert .wrap:nth-of-type(even) .container{
        flex-direction: row;
    }
    .new-dessert .wrap .num p{
        font-size: 6rem;
    }
    .new-dessert .wrap .container .title img{
        transform: scale(.8);
    }
    .new-dessert .wrap .container .title {
        margin-bottom: 30px;

    }
    .new-dessert .wrap h3{
        font-size:1.8rem;
        margin-bottom: 5%;
    }
    .new-dessert .wrap .container p{
        font-size: 1.2rem;
    }
    .new-dessert .wrap:first-of-type .container .word .title,
    .new-dessert .wrap:first-of-type .container .pic {
        transform: rotate(5deg);
    }
    .new-dessert .wrap:nth-of-type(2) .container .word .title,
    .new-dessert .wrop:nth-of-type(2) .container .pice{
        transform: rotate(-5deg);
    }
    .new-dessert .wrap:nth-of-type(2) .container .word .title,
    .new-dessert .wrop:nth-of-type(2) .container .pice{
        transform: rotate(-3deg);
    }

}

@media screen and (min-width:1200px){
    .new-dessert .wrap:nth-of-type(even) .container {
        padding-right: 20%;
    }
    .new-dessert .wrap:nth-of-type(odd) .container {
        padding-left: 20%;
    }
    .new-dessert .wrap .container .inf{
        display: flex;
        flex-direction: column;
    }
    .new-dessert .wrap .container .inf p+p::before{
        content: "";
    }
    .new-dessert .wrap .container .pic{
        /* border: 1px solid #000; */
        max-width: 420px;
    }
    .new-dessert .wrap .num p{
        font-size: 8rem;
    }
    .new-dessert .wrap .container .title img{
        transform: scale(1);
    }
    .new-dessert .wrap .container .title {
        margin-bottom: 35px;
    }
    .new-dessert .wrap h3{
        font-size:2rem;
        margin: 5% 10px;
    }
    .new-dessert .wrap .container p{
        font-size: 1.4rem;
    }
    .new-dessert .container .pic img:hover{
        opacity: .8;
        animation:img .1s none;
    }
}


/* /////////////////熱賣甜點///////////////// */

.hot{
    /* border: 1px solid #000; */
    width: 100%;
}
.hot .container .item{
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.hot .container .item .heart{
    /* border: 1px solid #000; */
    position: absolute;
    width: 18px;
    top:5%;
    left:5%;
    z-index: 2;
}
.hot .container .item:nth-of-type(even){
    flex-direction: row-reverse;  
}
.hot .container .item .card-pic{
    /* border:2px solid green; */
    width: 53%;
    box-shadow: var(--box-shadowsmall);
    position: relative;
    overflow: hidden;
}
.hot .container .item .card-inf{
    /* border: 2px solid #000; */
    width: 46%;
    min-height: 120px;
    padding: 15px 25px;
    box-shadow: var(--box-shadowsmall);
    background-color: white;
}
.hot .container .item .card-pic :nth-child(2){
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 2s;
}
.hot .container .item:nth-of-type(odd) .card-pic,
.hot .container .item:nth-of-type(even) .card-inf{
    border-radius: 15px 0px 0px 15px;
    
}
.hot .container .item:nth-of-type(even) .card-pic,
.hot .container .item:nth-of-type(odd) .card-inf{
    border-radius: 0 15px 15px 0;
}
@keyframes section-pic{
    0%{background-size: 100%;}
    40%{background-size: 110%;}
    100%{background-size: 115%;}
    }
.hot .container .item .card-inf a h4{
    /* border: 1px solid #000; */
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.hot .container .item .card-inf a h4:nth-of-type(2){
    font-size: 1rem;
    margin-top: -12%;
}
.hot .container .item .card-inf a+p{
    /* border: 1px solid #000; */
    font-size: .6rem;
    margin-bottom: 5%;
}
.hot .container .item .card-inf .flavor{
    /* border: 1px solid #000; */
    display: none;
}
.hot .container .item .card-inf .price{
    /* border: 1px solid #000;   */
    display: flex;
    margin-top: 8%;
    align-items: center;
    justify-content: space-between;
}
.hot .container .item .card-inf .price .price-num{
    /* border: 1px solid #000; */
    margin: 0 1%;
}
.hot .container .item .card-inf .price .price-nt,
.hot .container .item .card-inf .price .price-num{
    /* border: 1px solid #000; */
    font-size: .8rem;
    color:var(--imcolor2);
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.hot .container .item .card-inf .price a i{
    /* border: 1px solid #000; */
    font-size: .6rem;
    animation: moveright .5s infinite;
    line-height: 1.5rem;
    vertical-align: bottom;
}
@keyframes moveright{
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(20%);
    }
    50%{
        transform: translateX(30%);
    }

    75%{
        transform: translateX(20%);
    }

    100%{
        transform: translateX(0%);
    }
}
@media screen and (min-width:768px){
    .hot .container .item{
        min-height: 250px;
    }
    .hot .container .item .card-pic{
        /* border:1px solid green; */
        width: 58%;
        box-shadow: var(--box-shadow);
    }
    .hot .container .item .card-inf{
        /* border: 2px solid #000; */
        width: 41%;
        padding: 25px 35px;
        box-shadow: var(--box-shadow);
    }
    .hot .container .item .heart{
        position: absolute;        
        width: 30px;
    }
    .hot .container .item .card-inf a h4{
        font-size: 1.5rem;
        margin-bottom: -2%;
    }
    .hot .container .item .card-inf a h4:nth-of-type(2){
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 5%;
    }
    .hot .container .item .card-inf :nth-child(2){
        font-size:1.2rem;
    }
    .hot .container .item .card-inf :nth-child(3){
        /* border: 1px solid     #000; */
        color:var(--w2color);
        font-size:1rem;
        display: block;
    }
    .hot .container .item .card-inf .price .price-nt,
    .hot .container .item .card-inf .price .price-num{
        font-size: 1.4rem;
    }
    .hot .container .item .card-inf .price a i{
        /* border: 1px solid #000; */
        font-size: 1.4rem;
    }
    .hot .container .item .card-inf .price{
        justify-content: space-between;
    }
    .hot .container .item .card-inf .price .price-num{
        /* border: 1px solid #000; */
        margin: 0 2%;
    }
    .hot .container .item:nth-of-type(odd) .card-pic,
    .hot .container .item:nth-of-type(even) .card-inf{
        border-radius: 20px 0px 0px 20px;
    }
    .hot .container .item:nth-of-type(even) .card-pic,
    .hot .container .item:nth-of-type(odd) .card-inf{
        border-radius: 0 20px 20px 0;
    }
}

@media screen and (min-width:992px){
    .hot .container .item{
        /* border: 1px solid #000; */
        min-height: 300px;
    }
    .hot .container .item .card-inf .price .price-nt,
    .hot .container .item .card-inf .price .price-num{
        font-size: 2rem;
   
    }
    .hot .container .item .card-inf .price a i{
        /* border: 1px solid #000; */
        font-size: 1.6rem;
    }

}

@media screen and (min-width:1200px){
    .hot .container .item{
        min-height: 380px;

    }
    .hot .container .item .heart{
        position: absolute;
        width: 35px;
    }
    .hot .container .item .card-inf{
        width: 41%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hot .container .item .card-inf a{
        display: flex;
    }
    .hot .container .item .card-inf a h4{
        font-size: 1.8rem;
        margin-bottom: 10%;
    }
    .hot .container .item .card-inf a h4:nth-of-type(2){
        font-size: 1.8rem;
        margin-top: 0;
    }
    .hot .container .item .card-inf :nth-child(2){
        font-size:1.4rem;
    }
    .hot .container .item .card-inf :nth-child(3){
        /* border: 1px solid     #000; */
        color:var(--w2color);
        font-size:1rem;
        display: block;
    }
    .hot .container .item .card-inf .price{
        /* border: 1px solid #000; */
        width: 60%;
        justify-content: space-between;
    }
    .hot .container .item .card-inf .price .price-num{
        /* border: 1px solid #000; */
        margin: 0 2%;
    }
    .hot .container .item:nth-of-type(odd) .card-pic,
    .hot .container .item:nth-of-type(even) .card-inf{
        border-radius: 30px 0px 0px 30px;
    }
    .hot .container .item:nth-of-type(even) .card-pic,
    .hot .container .item:nth-of-type(odd) .card-inf{
        border-radius: 0 30px 30px 0;
    }
    .hot .container .item .card-pic img:hover{
        background-size: 110%;
        transform: scale(1.1);
        object-fit: cover;
    }
}



/* ////////////////關於我們///////////////// */
.about{
    /* border:1px solid red; */
    width: 88%;
    margin: auto;
    position: relative;
}
.about .wrap{
    /* border: 1px solid blue; */
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.about .wrap .inf{
    /* border: 1px solid #000; */
    width: 100%;
}
.about .wrap .img{
    display: none;
}
.about  .video-frame{
    /* border: 2px solid red; */
    left:0;
}
.about .video-frame video{
    margin: auto;
    /* border:3px solid purple; */
    width: 100%;
    margin-bottom: 2%;
    border-radius:80px 10px 80px 10px ;
    overflow: hidden;
    display: block;
    object-fit: cover;
    z-index: -1;
}
.about .wrap .inf :first-child{
    /* border: 1px solid #000; */
    font-size:1.6rem;
    color:var(--imcolor2);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.about .wrap .inf :nth-child(2){
    /* border: 1px solid #000; */
    font-size: 0.9rem;    
}
@media screen and (min-width:768px){
    .about{
        min-width:calc(700 / 768 * 100%);
    }
    .about .wrap .inf :nth-child(2){
        /* border: 1px solid #000; */
        font-size: 1.2rem;    
    }
}
@media screen and (min-width:992px){
    .about{
        min-width:calc(920 / 992 * 100%);
    }
}

@media screen and (min-width:1200px){
    .about{
        /* border: 1px solid #000; */
        position: relative;
        width: 100%;
    }
    .about .wrap{
        /* border: 1px solid blue; */
        flex-direction: row;
        align-content: flex-start;
        align-items: flex-start;
        width: 88%;
        margin: auto;
    }

    .about .wrap .inf{
        /* border: 3px solid #000; */
        width: 50%;
    }
    .about .wrap .img{
        /* border: 1px solid purple; */
        display: block;
        width: 50%;
        overflow: hidden;
        text-align: right;
        padding-bottom: 120px;
    
    }
    .about .video-frame video{
        /* border:3px solid purple; */
        width: 45vw;
        height: 55vh;    
        box-shadow:100px 70px 0 rgba(203,162,113,0.5) ;
        border-radius:0 10px 80px 0px ;
        position: absolute;
        left:0;
        bottom:15%;
    }
    .about .wrap .img img{
        /* border: 1px solid #000; */
        width: 35vw;
        height: 85vh;
        border-radius: 80px 0 80px 0px;
    }

    .about .wrap .inf :first-child{
        font-size:2.4rem;
        color:var(--imcolor2);
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 400;
    }

    .about .wrap .inf :nth-child(2){
        /* border: 1px solid #000; */
        font-size: 1.2rem;    
    }

 
   
}


