
/* /////////////////訂購步驟///////////////// */

.notice .step .wrap{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.notice .step .wrap .card{
    /* border: 1px solid #000; */
    border-radius: 40px;
    width: 100%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: .4s;
    
}
.notice .step .wrap .card .pic{
    /* border: 1px solid #000; */
    width: 100%;
    aspect-ratio: 2 / 1.2;
    position: relative;
    overflow: hidden;
}
.notice .step .wrap .card .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notice .step .wrap .card  .title{
    position: absolute;
    width: 100%;
    padding: 15px 20px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    color:var(--imcolor1);
    background-color: white;
    opacity: .8;
}
.notice .step .wrap .card:first-of-type  .title{
    top:40px;
}
.notice .step .wrap .card:nth-of-type(2)  .title{
    top:50%;
    transform: translateY(-50%);
}
.notice .step .wrap .card:nth-of-type(3)  .title{
    bottom:40px;
}
.notice .step .wrap .card .inf{
    border-radius: 40px;
    padding: 30px 30px 50px 30px;
    transition:.5s;
    background-color: white;
    object-fit: cover;
    transition: 2s;
    flex-grow: 1;
}
.notice .step .wrap .card .show{
    right:0px;
    display: block;
    transition: 2s;
}
.notice .step .wrap .card .inf :first-child{
    /* border: 1px solid #000; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size:1.2rem;
    margin-bottom: 20px;
    font-weight: 400;
}
.notice .step .wrap .card .inf :nth-child(2){
    transition: 1s;
    color:var(--w2color);
}
.notice .step .wrap .card .inf :first-child{
    text-align: center;
}

@media screen and (min-width:768px){
   
    .notice .step .wrap .card{
        aspect-ratio: 2.8  / 1;
        flex-direction: row;
        margin-bottom: 5%;
    }
    .notice .step .wrap .card .pic{
        width: 40%;
        transition: 1s;
    }
    .notice .step .wrap .card .pic img{
        position: absolute;
    }
    .notice .step .wrap .card .title{
        padding: 15px 70px;
        font-size: 1.8rem;
    }
    
    .notice .step .wrap .card .inf{
        /* border: 1px solid #000; */
        border-radius: 0 40px 40px 0;
        width: 60%;
        position: relative;
        right:0;
        transition:.5s;
        animation: opcaity 2s 1s;
        overflow-x: hidden;
        overflow-y: auto;
        object-fit: cover;
    }
    .notice .step .wrap .card .inf :first-child{
        font-size:1rem;
    }
    .notice .step .wrap .card .inf :nth-child(2){
        font-size: .9rem;
    }
    .notice .step .wrap .card:hover{
        box-shadow: var(--box-shadow);
    }
    .notice .step .wrap .card .inf :first-child{
        font-size: 1.6rem;
        text-align: center;
    }
    .notice .step .wrap .card:first-of-type  .title{
        top:80px;
    }
    .notice .step .wrap .card:nth-of-type(2)  .title{
        top:50%;
        transform: translateY(-50%);
    }
    .notice .step .wrap .card:nth-of-type(3)  .title{
        bottom:80px;
    }

}

@media screen and (min-width:1200px){
    .notice .step .wrap .card .title{
        font-size: 2rem;
    }
    .notice .step .wrap .card .inf :first-child{
        font-size:1rem;
    }
    .notice .step .wrap .card .inf :nth-child(2){
        font-size: 1.2rem;
    }
    .notice .step .wrap .card .inf :first-child{
        font-size: 1.8rem;
    }

}

/* /////////////////哈囉熊熊///////////////// */
.step .wrap{
    /* border: 1px solid #000; */
    margin-top: 100px;
}
.hi-bear{
    /* border: 3px solid #000; */
    position: absolute;
    width: 70px;
    height: 70px;
    transform: rotate(30deg);   
    left:60px;
    transition: ease .5s;
    top:-30px;
}
.hi-bear .pic{
    /* border: 1px solid #000; */
    width: 100%;
    position: relative;

}
.hi-bear .pic img{
    width: 100%;
    object-fit: cover;
    transform: rotate(-25deg);
}
.title-shot{
    position: absolute;
    top:-50px;
    width: 200px;
    opacity: 0;
}
.bear-move{
    top:-50px;
    transition:ease .5s;
}
.shot-show{
    opacity:1;
    left:-10px;
    transition:ease 1.5s;
}
/* /////////////////FAQ///////////////// */

.faq .wrap {
    /* border: 1px solid #000; */
    margin-bottom: 8%;
}
.faq .wrap h2{
    font-size: 4rem;
    font-weight: 500;
    position: relative;
    color:var(--imcolor1);
    text-shadow: var(--box-shadowsmall);
    
}
.faq .wrap h2::after{
    content:"";
    background-color: var(--imcolor1);
    height: 2px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
}
.faq .wrap .item{
    border-radius: 20px;
    /* background-color: var(--color3); */
    border: 1px solid var(--color3);
    display: flex;
    padding: 10px 20px;
    margin: 3% 0 0 0 ;
    position: relative;
}
.faq .wrap input{
    display: none;
    z-index: -10;
}
.faq .wrap .inf-hidden{
    display: none;
    padding: 30px;
    width: 98%;
    /* background-color:rgba(231,212,171,.9 );  */
    background-color: rgba(255, 255, 255, 0.8);
}
.faq .wrap .item p:first-of-type{
    color:var(--imcolor1);
    font-size: 1.2rem;
    font-weight: 400;
}
.faq .wrap .item form i{
    /* border: 1px solid #000; */
    position: absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color:var(--imcolor1);
}
.faq .wrap input:checked ~.inf-hidden {
    /* border: 1px solid #000; */
    display: block;
    margin: auto;
}
.faq .wrap .item .inf-hidden{
    color:var(--imcolor1);
}

    
    /* /////////////////FAQ///////////////// */
    
    .faq .wrap {
        /* border: 1px solid #000; */
        margin-bottom: 8%;
    }
    
    .faq .wrap h2{
        /* border: 1px solid #000; */
        font-size: 4rem;
        position: relative;
        color:var(--imcolor1);
        text-shadow: var(--box-shadowsmall);
        
    }
    
    .faq .wrap h2::after{
        content:"";
        background-color: var(--imcolor1);
        height: 2px;
        position: absolute;
        width: 100%;
        bottom: 0;
        left:0;
    }
    
    
    .faq .wrap .item{
        border-radius: 20px;
        /* background-color: var(--color3); */
        border: 1px solid var(--color3);
        display: flex;
        padding: 10px 20px;
        margin: 3% 0 0 0 ;
        position: relative;
    }
    
    
    .faq .wrap input{
        display: none;
        z-index: -10;
    }
    
    .faq .wrap .inf-hidden{
        display: none;
        padding: 30px;
        width: 98%;
        /* background-color:rgba(231,212,171,.9 );  */
        background-color: rgba(255, 255, 255, 0.8);
    
    }
    
    .faq .wrap .item p:first-of-type{
        color:var(--imcolor1);
        font-size: 1.2rem;
        font-weight: 400;
    }
    
    
    .faq .wrap .item form i{
        /* border: 1px solid #000; */
        position: absolute;
        right:20px;
        top:50%;
        transform: translateY(-50%);
        font-size: 1.5rem;
        color:var(--imcolor1);
    }
    
    .faq .wrap input:checked ~.inf-hidden {
        /* border: 1px solid #000; */
        display: block;
        margin: auto;
    
    }
    
    .faq .wrap .item .inf-hidden{
        color:var(--imcolor1);
    }
    
}
