
/* /////////////////食材嚴選///////////////// */

.selection .container{
    /* border: 1px solid #000;   */
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 12%;
}
.selection .container:last-of-type{
    margin-bottom: 100px;
}
.selection .container .bcg{
    /* border: 1px solid #000; */
    position: absolute;
    width:90%;
    bottom:0;
    top:0;
    right:0;
    z-index: -1;
    background-color: var(--color3);
}
.selection .container:nth-of-type(even) .bcg{
    left:0;
}
.selection .container:nth-of-type(even) .item{
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.selection .container:nth-of-type(odd) .item{
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.selection .container:nth-of-type(even) .pic-area{
    /* border: 1px solid #000; */
    padding-left: 10px;
}
.selection .container:nth-of-type(odd) .pic-area{
    padding-right: 10px;
}
.selection .container:nth-of-type(even) .pic{
    border-radius: 0 40px 0 0 ;
}
.selection .container:nth-of-type(odd) .pic{
    border-radius:  40px  0 0 0 ;
}
.selection .item .inf{
    /* border: 1px solid rgb(255, 0, 0); */
    width: 80%;
}
.selection .item .inf p{
    /* border: 1px solid #000; */
    font-size: .6rem;
    color:white;
}
.selection .item .inf p::first-letter{
    font-size: .9rem;
    font-weight: 400;
    margin-right: 2px;
}
.selection .item .pic-area{
    /* border: 3px solid red; */
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom:-15px;
}
.selection .container .pic-area h2{
    /* border: 1px solid #000; */
    font-size: .9rem;
    color:white;
    font-weight: 500;;
    position: relative;
    margin-top: 20px;
}
.selection .container .pic-area h2::after{
    content:"";
    background-color:white ;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
}
.selection .container:nth-of-type(odd) .pic-area h2 {
    /* border: 1px solid #000; */
    text-align: right;
}   
.selection .container .pic-area .pic{
    /* border: 2px solid red; */
    position: relative;
    aspect-ratio: 1.4 / 1;
    overflow: hidden;
}
.selection .container .pic-area .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.selection .container .pic-area .pic::after{
    content:"";
    width: 0%;
    height: 100%;
    background-color: white;
    z-index: 1;
    position: absolute;
    right:0;
    top:0;
    transition: 1s;
    opacity: .2;
}
.selection .container .pic-area .pic:hover::after{
    left:0;
    width: 100%;
}
@media screen and (min-width:768px){

    .selection  .container{
        margin-bottom: 3%;
    }
    .selection  .container .bcg{
        aspect-ratio:  2.2 / 1;
        top:10%;
        background-color: var(--color3);
    }
    .selection .item .pic-area{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .selection .container:nth-of-type(even) .pic-area{
        /* border: 1px solid #000; */
        /* background-color: aqua; */
        padding: 0;
        padding-left: 30px;
        margin-bottom:0px;
    }
    .selection .container:nth-of-type(odd) .pic-area{
        padding-right: 30px;
        align-items: flex-end;
        margin-bottom: 0;
    }
    .selection .container .pic-area .pic{
        aspect-ratio: 1.5 / 1;
    }
    .selection .container:nth-of-type(even) .pic{
        border-radius: 0 100px 0 0 ;
    }
    .selection .container:nth-of-type(odd) .pic{
        border-radius:  100px  0 0 0 ;
    }
    .selection .container .pic-area h2{
        font-size: 1.4rem;
        color:white;
        width: 60%;
        margin-top: 50px;
    }
    .selection .container:nth-of-type(odd) h2 {
        /* border: 1px solid #000; */
        text-align: right;
    }   
    .selection .container .pic-area h2::after{
        content:"";
        background-color:white;
        height: 2px;
    }
    .selection .item .inf p{
        /* border: 1px solid #000; */
        font-size: 1rem;
        color:white;
        font-weight: 400;
    }
    .selection .item .inf p::first-letter{
        font-size: 1.4rem;
    }

}

@media screen and (min-width:1200px){
    .selection .container .pic-area .pic{
        aspect-ratio: 1.7 / 1;
    }
    .selection .container .pic-area h2::after{
        content:"";
        background-color:white;
        height: 2px;
    }
    .selection .container .pic-area h2{
        font-size: 1.8rem;
        color:white;
        width: 60%;
        margin-top: 120px;
    }
    .selection .item .inf p{
        /* border: 1px solid #000; */
        font-size: 1.2rem;
        color:white;
        font-weight: 400;
    }
    .selection .item .inf p::first-letter{
        font-size: 2.2rem;
    }


}