.container{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 3%;
}
.bcg{
    position: absolute;
    width: 80%;
    aspect-ratio:  2.5 / 1;
    /* background-color:var(--color2); */
    top:10%;
    z-index: -1;
    background-image: linear-gradient(to right , #f7eedb,var(--color3));
}
.container:nth-of-type(even) .bcg{
    background-image: linear-gradient(to right , var(--imcolor2), #f7eedb);
}
.container:nth-of-type(even) .bcg{
    left:0;

}
.container:nth-of-type(odd) .bcg{
    right:0;
}
.container:nth-of-type(even) .item{
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container:nth-of-type(odd) .item{
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.inf{
    /* border: 1px solid #000; */
    width: 80%;
    padding: 30px;
}
.inf p{
    /* border: 1px solid #000; */
    font-size: 1.2rem;
    color:white;
}
.pic-area{
    /* border: 3px solid white; */
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container:nth-of-type(odd) h2 {
    text-align: right;
}   
.pic-area h2{
    font-size: 1.8rem;
    color:white;
}
.pic{
    /* border: 2px solid red; */
    /* align-items: flex-start; */
    position: relative;
    aspect-ratio: 2 / 1;
    overflow: hidden;
}
.pic h2{
    border: 1px solid #000;
}
.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pic::after{
    content:"";
    width: 0%;
    height: 100%;
    background-color: white;
    z-index: 1;
    position: absolute;
    right:0;
    top:0;
    transition: 1s;
    opacity: .2;
}

.pic:hover::after{
    left:0;
    width: 100%;
}