
/* /////////////////熱賣甜點///////////////// */

.hot{
    /* border: 1px solid #000; */
    width: 100%;
}

.hot .container .item{
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hot .container .item .heart{
    position: absolute;
    width: 20px;
    top:5%;
    left:5%;
    z-index: 2;
}

.hot .container .item:nth-of-type(even){
    flex-direction: row-reverse;  
}

.hot .container .item .card-pic{
    /* border:2px solid green; */
    width: 53%;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;

}
.hot .container .item .card-inf{
    /* border: 2px solid #000; */
    width: 45%;
    min-height: 120px;
    padding: 15px 25px;
    box-shadow: var(--box-shadow);
    background-color: white;
}

.hot .container .item .card-pic a img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 2s;
}

.hot .container .item .card-pic img:hover{
    background-size: 110%;
    transform: scale(1.1);
    object-fit: cover;
}

.hot .container .item:nth-of-type(odd) .card-pic,
.hot .container .item:nth-of-type(even) .card-inf{
    border-radius: 30px 0px 0px 30px;
    
}

.hot .container .item:nth-of-type(even) .card-pic,
.hot .container .item:nth-of-type(odd) .card-inf{
    border-radius: 0 30px 30px 0;
}


@keyframes section-pic{
    0%{background-size: 100%;}
    40%{background-size: 110%;}
    100%{background-size: 115%;}
    }

.hot .container .item .card-inf a h4{
    /* border: 1px solid #000; */
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10%;

}

.hot .container .item .card-inf a h4:nth-of-type(2){
    font-size: 1rem;
    margin-top: -12%;
}


.hot .container .item .card-inf a+p{
    /* border: 1px solid #000; */
    font-size: .6rem;
    margin-bottom: 5%;
}

.hot .container .item .card-inf :nth-child(3){
    /* border: 1px solid #000; */
    display: none;

}

.hot .container .item .card-inf .price{
    /* border: 1px solid #000;   */
    display: flex;
    margin-top: 8%;
    align-items: center;
    justify-content: flex-start;
    
}

.hot .container .item .card-inf .price .price-num{
    /* border: 1px solid #000; */
    margin: 0 1%;
}

.hot .container .item .card-inf .price .price-nt,
.hot .container .item .card-inf .price .price-num{
    font-size: 1rem;
    color:var(--imcolor2);
    font-weight: 400;

}

.hot .container .item .card-inf .price a i{
    /* border: 1px solid #000; */
    font-size: .8rem;
    animation: moveright .5s infinite;
}

@-webkit-keyframes moveright{
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(20%);
    }
    50%{
        transform: translateX(30%);
    }

    75%{
        transform: translateX(20%);
    }

    100%{
        transform: translateX(0%);
    }
}

@media screen and (min-width:1200px){
    .hot .container .item{
        min-height: 340px;
    }

    .hot .container .item .card-pic{
        /* border:1px solid green; */
        width: 58%;
    }
    .hot .container .item .card-inf{
        /* border: 2px solid #000; */
        width: 40%;
    }

    .hot .container .item .heart{
        position: absolute;
        width: 35px;
    }


    .hot .container .item .card-inf{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hot .container .item .card-inf a{
        display: flex;
    }

    .hot .container .item .card-inf a h4{
        font-size: 1.8rem;
        margin-bottom: 10%;
    }

    .hot .container .item .card-inf a h4:nth-of-type(2){
        font-size: 1.8rem;
        margin-top: 0;
    }

    .hot .container .item .card-inf :nth-child(2){
        font-size:1.4rem;
    }

    .hot .container .item .card-inf :nth-child(3){
        /* border: 1px solid     #000; */
        color:var(--w2color);
        font-size:1rem;
        display: block;
    
    }

    .hot .container .item .card-inf .price .price-nt,
    .hot .container .item .card-inf .price .price-num{
        font-size: 1.8rem;
   
    }

    .hot .container .item .card-inf .price{
        /* border: 1px solid #000; */
        width: 60%;
        justify-content: space-between;
    }

    .hot .container .item .card-inf .price .price-num{
        /* border: 1px solid #000; */
        margin: 0 2%;
        
    }
    .hot .container .item .card-inf .price a i{
        /* border: 1px solid #000; */
        font-size: 1.4rem;
    }
    

}



