/* /////////////////背景圖///////////////// */

body{
    width: 100%;
    background-image: url(../../texture/bcg4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 300px;
    z-index: 10;
    position: relative;
}


.dessert-page2{
    /* border: 1px solid #000; */
    width: 100%;
}



.dessert-page2 #moder{
    /* border: 5px solid red; */
    display: none;
 
}


/* /////////////////小導覽列///////////////// */

.dessert-page2 .summary .nav-btn-2{
    /* border: 1px solid #000; */
    margin-bottom: 8%;
}
.dessert-page2 .nav-btn-2 :first-child{
    color:white;  
    background-color: var(--color2);
    border:5px solid var(--color3);
}
/* /////////////////上方內容-介紹///////////////// */

.dessert-page2 .summary .introduce{
    /* border: 1px solid #000; */
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 80px;
}

.dessert-page2 .summary .introduce .pic
, .dessert-page2 .summary .introduce .inf-container{
    box-shadow: var(--box-shadow);
    width: 53%;
    padding-bottom: 30%;
    border-radius: 10px;
}

.dessert-page2 .summary .introduce .inf-container{
    /* border: 1px solid #000; */
    background-color:white;
    position: absolute;
    right: 0;
    top: -45px;
}

.dessert-page2 .summary .introduce .inf-container .inf{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top:0%;
    bottom:0%;
}

.dessert-page2 .summary .introduce .inf-container .inf h3{
    font-size: 1.8rem;
    text-align: center; 
}

.dessert-page2 .summary .introduce .inf-container .inf p{
    /* border: 1px solid #000; */
    margin-top: 5%;
    font-size: 1.2rem;
    text-align: left; 
}

.dessert-page2 .summary .introduce .pic{
    position: relative;
}

.dessert-page2 .summary .introduce .pic img{
    width: 100%;
    border-radius: 10px;
    vertical-align: top;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

.dessert-page2 .summary .introduce .inf{
    background-color: white;
    /* border: 1px solid #000; */
    border-radius: 10px;
    position: absolute;
    top:-70px;
    right:0%;
}

.dessert-page2 main {
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dessert-page2 main .wrap{
    /* border: 4px solid purple; */
    margin: auto;
    margin: 50px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* ////////////////選單///////////////// */

.dessert-page2 main select{
    /* border: 4px solid #000; */
    width:var(--width-);
    max-width:calc(700 / 1440 * 100%);
    border-radius: 10px;
    border: 3px solid var(--color1);
    padding: 4px 10px;
    margin-bottom: 5%;
    height: 40px;
    font-size: 1.4rem;
    color: var(--color1);
    letter-spacing: .2em;
    text-indent: 0.2em;
}

/* ////////////////主要內容///////////////// */

.dessert-page2 main .container{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.dessert-page2 main .container .item:nth-of-type(even){
    /* border: 2px solid red; */
    flex-direction:row-reverse;
}

.dessert-page2 main .container .item{
    /* border: 4px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;

}


.dessert-page2 main .container .item .pic{
    border: 5px solid white;
    width: 53%;
    padding-bottom: 56%;
    position: relative;
    overflow: hidden;

}

.dessert-page2 main .container .item .pic img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.dessert-page2 main .container .item:nth-child(1) .pic :first-child{
   transform: scale(1.4);
}

.dessert-page2 main .container .item .inf{
    /* border: 3px solid red; */
    width: 47%;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dessert-page2 main .container .item:nth-of-type(odd) .inf{
    /* border: 1px solid #000; */
    padding-left: 40px;
}

.dessert-page2 main .container .item:nth-of-type(even) .inf{
    /* border: 1px solid #000; */
    padding-right: 40px;
}



.dessert-page2 main .container .item .inf h3{
    border: 1px solid var(--color2);
    color:var(--imcolor1);
    font-size: 1.7rem;
    margin: 0 30px 10px 30px;
    
}
.dessert-page2 main .container .item .inf h3+p{
    text-align: left;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.dessert-page2 main .container .item .inf .food-in {
    /* border: 1px solid #000; */
    margin-bottom: 18%;
}

.dessert-page2 main .container .item .inf .food-in .title {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dessert-page2 main .container .item .inf .food-in .title .line{
    /* border: 1px solid #000; */
    width: 90px;
    border-radius: 6px;
    height: 12px;
    background: radial-gradient(var(--imcolor2), var(--imcolor2) 3px, transparent 3px, transparent);
    background-size: 15px 100%;
}

.dessert-page2 main .container .item .inf .food-in .title :nth-child(2){
    font-size: 1.3rem;
    color:var(--imcolor2);
    margin: 0 10px;
}

.dessert-page2 main .container .item .inf ul{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dessert-page2 main .container .item .inf ul li .circle{
    /* border: 1px solid #000; */
    background-color:white;
    aspect-ratio:1 / 1;
    border-radius: 50%;
    padding: 10px;
    margin: 10px 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dessert-page2 main .container .item .inf ul li .circle img{
    /* border: 1px solid #000; */
    width: 80%;
}

.dessert-page2 main .container .item .inf ul li p{
    font-size: 1rem;
}

.dessert-page2 main .container .item .inf .price{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.dessert-page2 main .container .item .inf .price:nth-of-type(2){
    margin: 3% 0;
}

.dessert-page2 main .container .item .inf .price p {
    color:var(--imcolor1);
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 20px;
}



.dessert-page2 main .container .item .inf .price .detail{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;

}

.dessert-page2 main .container .item .inf .price .detail :first-child{
    /* border: 1px solid #000; */
    width: 100px;
    font-size: 1.4rem;
}

/* /////////////////font icon///////////////// */

.dessert-page2 .food-in i{
    font-size: 3rem;
    color:var(--color2);
    object-fit: cover;

}

/* /////////////////食用建議///////////////// */


.dessert-page2 .eat-advice .inf{
    border: 1px solid #000;
    width: 100%;
    border: 3px dashed var(--color3);
    border-radius: 15px;
    margin: 2% 0 10% 0;
    padding: 8px 0;
    text-align: center;
    
}

.dessert-page2 .eat-advice .inf p:first-child{
    font-size: 1.2rem;
    margin-bottom: 10px;
}


