footer{
    /* border: 1px solid #000; */
    width: 100%;
    padding-bottom: 25%;
    background-image: url(../../texture/footer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

footer .wrap{
    margin-bottom: 0px;
}

footer .container {
    /* border:1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom:0%;
    right:0;
    left:0;
    
}

footer .container .ig{
    /* border:1px solid blue; */
    /* width: 200px; */
    /* width:calc( 200 / var(--width) * 100%); */
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
footer .container .ig a p{
    transition: .5s;
    color:var(--imcolor2);
}

footer .container .ig a p:hover{
    color: white;
}

footer .container .ig .fa-instagram{
    font-size: 30px;
    /* border:1px solid red; */
    text-align: center;
    color:var(--imcolor2);
    margin-right: 8px;
    transition: .5s;
}

footer .container .ig .fa-instagram p{
    font-size:1.2rem;
    transition: .5s;
}

footer .container .bar {
    /* border:1px solid green  ; */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container .bar a{
    /* border:1px solid orange; */
    margin: 20px;
    transition: .5s;
    color:var(--imcolor2);  
}

footer .container .bar p{
    color:var(--imcolor2); 
}
footer .container .bar a:hover,
footer .container .bar .ig:hover{
    color: white;
}
footer .container .ig .fa-instagram:hover{
    color: white;
}


footer .container .box{
    /* border:1px solid blue; */
    text-align: center;
    font-size:1rem;
    font-weight:100;
}

footer .container .box p{
    /* border:1px solid purple; */
    color:var( --color3);
    
}

footer .container  .final{
    /* border:1px solid red;; */
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

footer .container  .final p{
    text-align: center;
    font-size: .5rem;
    color:var( --color3);
}
