
 /* //////////////////背景圖////////////////// */
body{
    width: 100%;
    background-image: url(../../texture/bcg3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 900px;
    z-index: 10;
    position: relative;
}

.bcg-pic .pic-sq img{
    /* border: 2px solid #000; */
    position: absolute;
    right:0;
    top:15%;
}

.bcg-pic .pic-dot img{
    /* border: 2px solid #000; */
    position: absolute;
    left:0;
    top:30%;

}



 /* //////////////////banner////////////////// */

 .banner{
    /* border:4px solid blue; */
    width: 100%;
    min-height: 780px;
    display: flex;
    background-image:
    linear-gradient(rgba(148, 116, 56, 0.5),rgba(255, 255, 255, 0.1)),
    url(../../pic/S__18833468\ 1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom right;
    position: relative;
  
 }



.banner .pic{
    /* border: 1px solid #000; */
    width: 100%;
    position: absolute;
    bottom: -1%;
}

.banner .pic img{
    width: 100%;
}

.banner .pic img:hover{
    cursor:url(../../texture/cursor.svg),auto;

}


.banner .wrap .frame{
    width: 450px;
    height: 320px;
    background-color:rgb(255, 255, 255,0.8);
    border-radius: 10px;
    position: absolute;
    top:25%;
    padding: 40px;
}

.banner .frame .new{
    color:var(--wcolor);
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: .3rem;
    text-indent: .3em;
    font-family: 'Noto Sans TC', sans-serif;
}

.banner .frame .btn-1-2{
    position: absolute;
    left:50%;
    bottom:40px;
    margin: auto;
    transform: translateX(-50%);
    z-index: 4;
}



.banner .frame p{
    font-size:1.1rem;
    margin-top: -20px;
    text-align: center;
    padding-top: 50px;
}



/* /////////////////最新甜點///////////////// */


.new-dessert .container{
    /* border:1px solid blue;    */
    margin: auto;
    display: flex;
    flex-direction: column;
}

.new-dessert .item{
    /* border:3px solid purple; */
    padding: 50px 0;
    display: flex;
    position: relative;
    margin-bottom:10px;
}

.new-dessert .item:nth-child(2){
    flex-direction: row-reverse;
}

.new-dessert .item .main{
    /* border:2px solid red; */
    width: 85%;
    display: flex;
    align-items: center;
}

.new-dessert .item .num{
    /* border:3px solid pink; */
    width: 15%;
    text-align: center;
}


.new-dessert .item .num p{
    margin-top: -110px;
    font-size: 8rem;
    font-weight: bold;
    letter-spacing: .5rem;
    color: var(--color2);
    text-shadow: var(--box-shadowsmall);
    font-family: 'Yusei Magic', sans-serif;
}



.new-dessert .item .main .inf{
    /* border:2px solid green; */
    width: 100%;
    padding: 40px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.new-dessert .container .item .main .title{
    /* border:2px solid red; */
    display: flex;
    margin-bottom:40px;
    /* justify-content: center; */
}
.new-dessert .container .item .main .title img{
    /* border:1px solid red; */
    transform: scale(1);  

}

.new-dessert .container .item .main h3{
    /* border: 1px solid #000; */
    color:var(--imcolor1);
    font-size:1.8rem;
    margin: 0 20px;
    
}


.new-dessert .wrap .container .item .main p{
    /* border:1px solid blue; */
    width: 100%;
    font-size:1.3rem;
    font-weight: 400;
    padding: 0  0 0 60px;
    color:var(--wcolor)
}

.new-dessert .container .item .main .pic img{
    /* border:1px solid orange; */
    border-radius: 48% 48% 35% 35% / 64% 64% 35% 35%  ;
    width: 400px;
    height: 320px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    margin: 20px;
}

.new-dessert .wrap .container .item-1 .main .pic img{
    width: 480px;
    height: 384px;
}

.new-dessert .wrap .container .item-1 .main .pic img,.new-dessert .container .item-1 .main .title{
  
    transform: rotate(-5deg);
}

.new-dessert .wrap .container .item-2 .main .pic img,.new-dessert .container .item-2 .main .title{
    transform: rotate(5deg);
}

.new-dessert .wrap .container .item-3 .main .pic img,
.new-dessert .container .item-3 .main .title{
    transform: rotate(-3deg);
}

.new-dessert .container .main .pic img:hover{
    opacity: .8;
    animation:img .1s none;
}
@keyframes img {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(-10deg); }
   95% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

/* /////////////////熱賣甜點///////////////// */

.hot{
    width: 100%;
}

.hot .container .item{
    /* border: 1px solid red; */
    width: 100%;
    min-height: 340px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.hot .container .item:nth-child(even){
    margin-bottom: 40px;
    flex-direction: row-reverse;  
}

.hot .container .item .card-pic{
    /* border:1px solid green; */
    width: 58%;
    /* 不確定 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: var(--box-shadow);
}

.hot .container .item .card-pic:hover{
    background-size: 110%;
    animation-name:section-pic;
    animation-duration:5s;
}

@keyframes section-pic{
    0%{background-size: 100%;}
    40%{background-size: 110%;}
    100%{background-size: 115%;}
    }
    

.hot .container .item-1 .card-pic{
    background-image: url(../../pic/ma.jpg);
    border-radius: 30px 0px 0px 30px;
    
}

.hot .container .item-2 .card-pic{
    background-image: url(../../pic/LINE_ALBUM_220317_20.jpg);
    border-radius: 0 30px 30px 0;
}

.hot .container .item-3 .card-pic{
    background-image: url(../../pic/LINE_ALBUM_220306_16.jpg);
    border-radius: 30px 0px 0px 30px;
}

.hot .container .item-4 .card-pic{
    background-image: url(../../pic/LINE_ALBUM_220317_6.jpg);
    background-position: 25% 30%;
    border-radius: 0 30px 30px 0;
}

.hot .container .item-2 .card-inf,.hot .container .item-4 .card-inf{
    border-radius: 30px 0px 0px 30px;

}

.hot .container .item-1 .card-inf,.hot .container .item-3 .card-inf{
    border-radius: 0 30px 30px 0;
    
}

.hot .container .item .card-inf{
    /* border: 2px solid #000; */
    background: white;
    width: 40%;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.hot .container .item .card-inf a h4{
    /* border: 1px solid #000; */
    font-size: 1.5rem;
    margin-bottom: 30px;
    
}

.hot .container .item .card-inf a+p{
    /* border: 1px solid #000; */
    font-size: 1.2rem;
}

.hot .container .item .card-inf p+p{
    color:var(--w2color)
}

.hot .container .item .card-inf .price{
    /* border: 1px solid #000; */
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.hot .container .item .card-inf .price .price-nt{
    /* border: 1px solid #000; */
}

.hot .container .item .card-inf .price .price-num{
    /* border: 1px solid #000; */
    margin:0 30px 0 10px;
}

.hot .container .item .card-inf .price .price-nt,
.hot .container .item .card-inf .price .price-num{
    font-size: 1.8rem;
    color:var(--imcolor2);

}



/* /////////////////關於我///////////////// */

.about{
    /* border:1px solid red; */
    width: 100%;
    position: relative;
}

.about .wrap{
    /* border: 1px solid #000; */
    display:flex;
    
}

.about .wrap .inf{
    /* border: 1px solid #000; */
    width: 50%;
}

.about .wrap .img{
    /* border: 1px solid purple; */
    width: 50%;
    overflow: hidden;
    text-align: right;
    padding-bottom: 120px;

}

.about .wrap .img img{
    /* border: 1px solid #000; */
    width: 35vw;
    height: 85vh;
    /* max-height:calc(650 / var(--width) * 100%);; */
    border-radius: 80px 0 80px 0px;
    /* box-shadow:-90px 120px 0 rgba(210,180,141,1); */
}

.about  .video-frame{
    /* border: 2px solid red; */
    left:0;
}

.about .video-frame video{
    /* border:3px solid purple; */
    width: 45vw;
    height: 55vh;    
    box-shadow:100px 70px 0 rgba(203,162,113,0.5) ;
    border-radius:0 10px 80px 0px ;
    overflow: hidden;
    display: block;
    position: absolute;
    left:0;
    bottom:15%;
    object-fit: cover;
    z-index: -1;
}

.about .wrap .inf{
    /* padding-left: 14%; */
}

.about .wrap .inf :first-child{
    font-size:2.5rem;
    color:var(--imcolor2);
    font-family: 'Yusei Magic', sans-serif;
}

.about .wrap .inf :nth-child(2){
    /* border: 1px solid #000; */
    font-size: 1.2rem;
    margin-top: 10px;
    
}


/* /////////////////食材嚴選///////////////// */

.selection{
    /* border:1px solid blu e;    */
    width: 100%;
    margin: auto;

}

.selection .container {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 80px;

}

.selection .container .item{
    border:3px s olid red;
    width: calc(300 / 1440 *100%);
    margin-bottom: 40px;
    
}

.selection .container .item:nth-child(even){
    margin-top: 80px;
}

.selection .container .item p{
    /* border:1px solid red; */
    font-size:1.2rem;
    text-align: center;
    font-weight: 400;

}

.selection .container .item .pic p{
    /* border:1px solid red; */
   text-align: center;
   font-size: var(--p2-fz);
   position: absolute;
   background-color: white;
   line-height: 30px;
   opacity: 0;
   transition: 2s;
   padding: 5px;

}

.selection .container .item:nth-child(2) .pic p,
.selection .item:nth-child(3) .pic p{
    bottom:0px;
    left: 0;
    right: 0;
    height: 80px;

}

.selection .container .item:first-child .pic p,
.selection .item:nth-child(4) .pic p{
    top:0%;
    left: 0;
    right: 0;
    height: 80px;
}

.selection .container .item .pic{
    /* border:1px solid orange; */
    aspect-ratio: 6 / 8;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: var(--box-shadow);
    margin-bottom: 40px;
}



.selection .container .item:first-child .pic{
    background-image: url(../../texture/original.png);
    border-radius:5% 5% 66% 12% / 5% 5% 46% 12%  ;
    
}

.selection .container .item:nth-child(2) .pic{
    background-image: url(../../texture/blacktea.jpeg);
    background-position: center;
    background-position:-40px 200px 500px 0;
    border-radius:40% 40% 5% 5% / 40% 40% 5% 5%;
}

.selection .container .item:nth-child(3) .pic{
    background-image: url(../../texture/120.jpeg);
    border-radius:12% 66% 5% 5% / 12% 46% 5% 5% 
}

.selection .container .item:last-child .pic{
    background-image: url(../../texture/c4ed9d405a8df279275f5da1719f8bb1.jpeg);
    border-radius:5% 5% 40% 40% / 5% 5% 40% 40%;
}



.selection .container .item .pic:hover p{
    opacity: .8;
}






