
 /* //////////////////背景圖////////////////// */
body{
    width: 100%;
    background-image: url(../../texture/bcg3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 900px;
    z-index: 10;
    position: relative;
}

.bcg-pic .pic-sq img{
    /* border: 2px solid #000; */
    position: absolute;
    right:0;
    top:15%;
}

.bcg-pic .pic-dot img{
    /* border: 2px solid #000; */
    position: absolute;
    left:0;
    top:30%;
}

 /* //////////////////banner////////////////// */

 .banner{
    border: 1px solid transparent;
    width: 100%;
    aspect-ratio: 8 / 6;
    /* display: flex; */
    background-image:
    linear-gradient(rgba(148, 116, 56, 0.5),rgba(255, 255, 255, 0.1)),
    url(../../pic/S__18833468\ 1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom right;
    position: relative;
 }

 .banner .pic{
    /* border: 1px solid #000; */
    width: 100%;
    position: absolute;
    bottom: -2%;
}

.banner .pic img{
    /* border: 1px solid #000; */
    vertical-align: top;
    width: 100%;
}

.banner .pic img:hover{
    cursor:url(../../texture/cursor.svg),auto;
}

.banner .wrap .frame{
    display: none;
}

 @media screen and (min-width:1280px){
    .banner{
        margin-bottom: -120px;
        aspect-ratio: 16 / 9;
     }

     .banner .wrap .frame{
         display: block;
        border-radius: 10px;
        width: calc(400 / 1280 *100%);
        padding: 80px 35px;
        position: absolute;
        top:25%;
        background-color:rgb(255, 255, 255,0.8);
    }

    .banner .frame :first-child{
        margin-top: -10%;
        margin-bottom: 5%;
        font-size: 1.8rem;
        text-align: center;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 400;
        color:var(--wcolor);
    }

    .banner .frame .btn-1-2{
        margin: auto;
        position: absolute;
        left:50%;
        z-index: 4;
        transform: translateX(-50%);
    }

    .banner .frame :nth-child(2) {
        margin-bottom: 8%;
        text-align: center;
        font-size:1.2rem;
    }

}


/* /////////////////最新甜點///////////////// */

.wrap{
    /* border: 1px solid #000; */
}
.new-dessert .container{
    /* border:5px solid blue;    */
    margin: auto;
    display: flex;
    flex-direction: column;
}
.new-dessert .item{
    /* border:3px solid purple; */
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom:1%;
}
.new-dessert .item:nth-of-type(3){
    margin-bottom: 0;
}
.new-dessert .item .main{
    /* border:2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-dessert .item .num{
    /* border:3px solid pink; */
    width: 100%;
    position: absolute;
    top:-5%;
}
.new-dessert .item .num p{
    /* border: 1px solid #000; */
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
    letter-spacing: .5rem;
    text-shadow: var(--box-shadowsmall);
    font-family: 'Yusei Magic', sans-serif;
    color: var(--color2);
}
.new-dessert .item .main .inf{
    /* border:2px solid green; */
    width: 100%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    order: -1;
}
.new-dessert .container .item .main .title{
    /* border:2px solid red; */
    display: flex;
    margin-bottom:5%;
}
.new-dessert .container .item .main .title img{
    display: none;
    transform: scale(.5);
}
.new-dessert .container .item .main h3{
    /* border: 1px solid #000; */
    color:var(--imcolor1);
    font-size:1.2rem;
    margin-left: -80px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.new-dessert .wrap .container .item .main p{
    /* border:1px solid blue; */
    width: 100%;
    font-size:1rem;
    text-align: left;
    margin-top: 15px;
}
.new-dessert .container .item .main .pic img{
    /* border:1px solid orange; */
    border-radius: 48% 48% 35% 35% / 64% 64% 35% 35%  ;
    width: 340px;
    height: 260px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}



.new-dessert .container .main .pic img:hover{
    opacity: .8;
    animation:img .1s none;
}
@keyframes img {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(-10deg); }
   95% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}


@media screen and (min-width:1200px){
    .new-dessert .item{
        /* border:3px solid purple; */
        padding: 30px 0 0 0;
        display: flex;
        position: relative;
        margin-bottom:1%;
    }
    .new-dessert .item{
        flex-direction: row;

    }
    .new-dessert .item:nth-child(2){
        flex-direction: row-reverse;
    }
    .new-dessert .item .main{
        /* border:2px solid red; */
        width: 85%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .new-dessert .item .num{
        width: 15%;
        position: relative;
    }
    .new-dessert .item .num p{
        /* border: 1px solid #000; */
        margin-top: -75%;
        font-size: 8rem;
    }
    .new-dessert .item .main .inf{
        padding: 40px 10px;
        order: 0;
    }
    .new-dessert .container .item .main h3{
        /* border: 1px solid #000; */
        font-size:1.8rem;
        margin: 0 20px;
        /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    }
    .new-dessert .wrap .container .item .main p{
        /* border:1px solid blue; */
        width: 100%;
        padding: 0  0 0 60px;
        font-size:1.2rem;
        text-align: left;
    }
    .new-dessert .container .item .main .pic img{
        /* border:1px solid orange; */
        border-radius: 48% 48% 35% 35% / 64% 64% 35% 35%  ;
        width: 440px;
        height: 360px;
        object-fit: cover;
        box-shadow: var(--box-shadow);
        margin: 20px;
    }

    .new-dessert .container .item .main .title img{
        display: block;
        transform: scale(.8);
    }

    .new-dessert .wrap .container .item:first-of-type .main .pic img{
        width: 480px;
        height: 384px;
    }
    .new-dessert .wrap .container .item:first-of-type  .main .pic img,.new-dessert .container .item:first-of-type  .main .title{
        transform: rotate(-5deg);
    }
    .new-dessert .wrap .container .item:nth-of-type(2)  .main .pic img,.new-dessert .container .item:nth-of-type(2) .main .title{
        transform: rotate(5deg);
    }
    .new-dessert .wrap .container .item:nth-of-type(3) .main .pic img,
    .new-dessert .container .item:nth-of-type(3) .main .title{
        transform: rotate(-3deg);
    }

}


/* /////////////////熱賣甜點///////////////// */

.hot{
    /* border: 1px solid #000; */
    width: 100%;
}

.hot .container .item{
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hot .container .item .heart{
    position: absolute;
    width: 20px;
    top:5%;
    left:5%;
    z-index: 2;
}

.hot .container .item:nth-of-type(even){
    flex-direction: row-reverse;  
}

.hot .container .item .card-pic{
    /* border:2px solid green; */
    width: 53%;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;

}
.hot .container .item .card-inf{
    /* border: 2px solid #000; */
    width: 45%;
    min-height: 120px;
    padding: 15px 25px;
    box-shadow: var(--box-shadow);
    background-color: white;
}

.hot .container .item .card-pic a img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 2s;
}

.hot .container .item .card-pic img:hover{
    background-size: 110%;
    transform: scale(1.1);
    object-fit: cover;
}

.hot .container .item:nth-of-type(odd) .card-pic,
.hot .container .item:nth-of-type(even) .card-inf{
    border-radius: 30px 0px 0px 30px;
    
}

.hot .container .item:nth-of-type(even) .card-pic,
.hot .container .item:nth-of-type(odd) .card-inf{
    border-radius: 0 30px 30px 0;
}


@keyframes section-pic{
    0%{background-size: 100%;}
    40%{background-size: 110%;}
    100%{background-size: 115%;}
    }

.hot .container .item .card-inf a h4{
    /* border: 1px solid #000; */
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10%;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

.hot .container .item .card-inf a h4:nth-of-type(2){
    font-size: 1rem;
    margin-top: -12%;
}


.hot .container .item .card-inf a+p{
    /* border: 1px solid #000; */
    font-size: .6rem;
    margin-bottom: 5%;
}

.hot .container .item .card-inf :nth-child(3){
    /* border: 1px solid #000; */
    display: none;

}

.hot .container .item .card-inf .price{
    /* border: 1px solid #000;   */
    display: flex;
    margin-top: 8%;
    align-items: center;
    justify-content: center;
    
}

.hot .container .item .card-inf .price .price-num{
    /* border: 1px solid #000; */
    margin: 0 1%;
}

.hot .container .item .card-inf .price .price-nt,
.hot .container .item .card-inf .price .price-num{
    /* border: 1px solid #000; */
    font-size: 1rem;
    color:var(--imcolor2);
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

.hot .container .item .card-inf .price a i{
    /* border: 1px solid #000; */
    font-size: .8rem;
    animation: moveright .5s infinite;
    line-height: 1.5rem;
    vertical-align: bottom;
}

@-webkit-keyframes moveright{
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(20%);
    }
    50%{
        transform: translateX(30%);
    }

    75%{
        transform: translateX(20%);
    }

    100%{
        transform: translateX(0%);
    }
}

@media screen and (min-width:1200px){
    .hot .container .item{
        min-height: 340px;
    }

    .hot .container .item .card-pic{
        /* border:1px solid green; */
        width: 58%;
    }
    .hot .container .item .card-inf{
        /* border: 2px solid #000; */
        width: 40%;
    }

    .hot .container .item .heart{
        position: absolute;
        width: 35px;
    }


    .hot .container .item .card-inf{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hot .container .item .card-inf a{
        display: flex;
    }

    .hot .container .item .card-inf a h4{
        font-size: 1.8rem;
        margin-bottom: 10%;
    }

    .hot .container .item .card-inf a h4:nth-of-type(2){
        font-size: 1.8rem;
        margin-top: 0;
    }

    .hot .container .item .card-inf :nth-child(2){
        font-size:1.4rem;
    }

    .hot .container .item .card-inf :nth-child(3){
        /* border: 1px solid     #000; */
        color:var(--w2color);
        font-size:1rem;
        display: block;
    
    }

    .hot .container .item .card-inf .price .price-nt,
    .hot .container .item .card-inf .price .price-num{
        font-size: 1.8rem;
   
    }

    .hot .container .item .card-inf .price{
        /* border: 1px solid #000; */
        width: 60%;
        justify-content: space-between;
    }

    .hot .container .item .card-inf .price .price-num{
        /* border: 1px solid #000; */
        margin: 0 2%;
        
    }
    .hot .container .item .card-inf .price a i{
        /* border: 1px solid #000; */
        font-size: 1.4rem;
    }
    

}






/* ////////////////關於我們///////////////// */
.about{
    /* border:1px solid red; */
    width: 100%;
    position: relative;
}

.about .wrap{
    /* border: 1px solid blue; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .wrap .inf{
    /* border: 1px solid #000; */
    width: 100%;
}

.about .wrap .img{
    display: none;


}

.about  .video-frame{
    /* border: 2px solid red; */
    left:0;
}

.about .video-frame video{
    margin: auto;
    /* border:3px solid purple; */
    width: 95%;
    margin-bottom: 2%;
    border-radius:80px 10px 80px 10px ;
    overflow: hidden;
    display: block;
    object-fit: cover;
    z-index: -1;
    
}

.about .wrap .inf :first-child{
    /* border: 1px solid #000; */
    font-size:1.6rem;
    color:var(--imcolor2);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.about .wrap .inf :nth-child(2){
    /* border: 1px solid #000; */
    font-size: 1rem;    
}




@media screen and (min-width:1200px){
    .about .wrap{
        /* border: 1px solid blue; */
        flex-direction: row;
        align-content: flex-start;
        align-items: flex-start;
    }

    .about .wrap .inf{
        /* border: 3px solid #000; */
        width: 50%;
    }
    .about .wrap .img{
        /* border: 1px solid purple; */
        display: block;
        width: 50%;
        overflow: hidden;
        text-align: right;
        padding-bottom: 120px;
    
    }

    .about .video-frame video{
        /* border:3px solid purple; */
        width: 45vw;
        height: 55vh;    
        box-shadow:100px 70px 0 rgba(203,162,113,0.5) ;
        border-radius:0 10px 80px 0px ;
        position: absolute;
        left:0;
        bottom:15%;
    }

    .about .wrap .img img{
        /* border: 1px solid #000; */
        width: 35vw;
        height: 85vh;
        border-radius: 80px 0 80px 0px;
    }

    .about .wrap .inf :first-child{
        font-size:2.4rem;
        color:var(--imcolor2);
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 400;
    }

    .about .wrap .inf :nth-child(2){
        /* border: 1px solid #000; */
        font-size: 1.2rem;    
    }

 
   
}


/* /////////////////食材嚴選///////////////// */

/* .selection{
    border:1px solid blu e;   
    width: 100%;
    margin: auto;

}

.selection .container {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 80px;

}

.selection .container .item{
    border:3px s olid red;
    width: calc(300 / 1440 *100%);
    margin-bottom: 40px;
    
}

.selection .container .item:nth-child(even){
    margin-top: 80px;
}

.selection .container .item p{
    border:1px solid red;
    font-size:1.2rem;
    text-align: center;
    font-weight: 400;

}

.selection .container .item .pic p{
    border:1px solid red;
   text-align: center;
   font-size: var(--p2-fz);
   position: absolute;
   background-color: white;
   line-height: 30px;
   opacity: 0;
   transition: 2s;
   padding: 5px;

}

.selection .container .item:nth-child(2) .pic p,
.selection .item:nth-child(3) .pic p{
    bottom:0px;
    left: 0;
    right: 0;
    height: 80px;

}

.selection .container .item:first-child .pic p,
.selection .item:nth-child(4) .pic p{
    top:0%;
    left: 0;
    right: 0;
    height: 80px;
}

.selection .container .item .pic{
    border:1px solid orange;
    aspect-ratio: 6 / 8;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: var(--box-shadow);
    margin-bottom: 40px;
}



.selection .container .item:first-child .pic{
    background-image: url(../../texture/original.png);
    border-radius:5% 5% 66% 12% / 5% 5% 46% 12%  ;
    
}

.selection .container .item:nth-child(2) .pic{
    background-image: url(../../texture/blacktea.jpeg);
    background-position: center;
    background-position:-40px 200px 500px 0;
    border-radius:40% 40% 5% 5% / 40% 40% 5% 5%;
}

.selection .container .item:nth-child(3) .pic{
    background-image: url(../../texture/120.jpeg);
    border-radius:12% 66% 5% 5% / 12% 46% 5% 5% 
}

.selection .container .item:last-child .pic{
    background-image: url(../../texture/c4ed9d405a8df279275f5da1719f8bb1.jpeg);
    border-radius:5% 5% 40% 40% / 5% 5% 40% 40%;
}



.selection .container .item .pic:hover p{
    opacity: .8;
}
 */





