/* /////////////////背景圖///////////////// */

body{
    width: 100%;
    background-image: url(../../texture/bcg4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 300px;
    z-index: 10;
    position: relative;
}


.dessert{
    /* border: 1px solid #000; */
    width: 100%;
}

.dessert .title-1{
    margin-top: 140px;
}

.dessert .nav :first-child{
    color:white;  
    background-color: var(--imcolor2);
    border:5px solid var(--color2);
    padding: 5px 30px; 
}



nav .wrap .nav-a a:nth-child(5):before{
    content:"";
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-right: 5px;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
    
}  




/* /////////////////導覽列///////////////// */

.dessert .nav{
    /* border: 1px solid #000; */
    display: flex;
    margin: auto;
    margin-bottom: 8%;
    justify-content: center;
    align-items: center;
}

.dessert .nav a{

}

/* /////////////////介紹///////////////// */

.dessert .introduce{
    /* border: 1px solid #000; */
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 80px;
}

.dessert .introduce .pic, .dessert .introduce .inf-container{
    box-shadow: var(--box-shadow);
    width: 53%;
    padding-bottom: 30%;
    border-radius: 10px;
}

.dessert .introduce .inf-container{
    /* border: 1px solid #000; */
    background-color:white;
    position: absolute;
    right: 0;
    top: -45px;
}

.dessert .introduce .inf-container .inf{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top:0%;
    bottom:0%;
}

.dessert .introduce .inf-container .inf h3{
    font-size: 1.8rem;
    text-align: center; 
}

.dessert .introduce .inf-container .inf p{
    /* border: 1px solid #000; */
    margin-top: 5%;
    font-size: 1.2rem;
    text-align: left; 
}


.dessert .introduce .pic{
    position: relative;


}

.dessert .introduce .pic img{
    width: 100%;
    border-radius: 10px;
    vertical-align: top;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;

}

.dessert .introduce .inf{
    background-color: white;
    /* border: 1px solid #000; */
    border-radius: 10px;
    position: absolute;
    top:-70px;
    right:0%;

}


/* /////////////////商品們///////////////// */

.dessert .container{
    /* border: 1px solid #000; */
    width: 100%;
    margin: auto;
    margin: 50px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ////////////////選單///////////////// */

.dessert select{
    border-radius: 10px;
    border: 3px solid var(--color1);
    padding: 4px 10px;
    width: 40%;
    margin-top: 10% ;
    margin-bottom: 5%;
    height: 40px;
    font-size: 1.4rem;
    color: var(--color1);
    text-align: center;
    letter-spacing: .2em;
    text-indent: 0.2em;
}

/* ////////////////主要內容///////////////// */

.dessert .container .main{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.dessert .container .main .item:nth-of-type(even){
    /* border: 2px solid red; */
    flex-direction:row-reverse;
}

.dessert .container .main .item{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;

}

.dessert .container .main .item .pic{
    border: 5px solid white;
    width: 53%;
    padding-bottom: 56%;
    position: relative;
    overflow: hidden;

}

.dessert .container .main .item .pic img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.dessert .container .main .item:nth-child(1) .pic :first-child{
   transform: scale(1.4);
}


.dessert .container .main .item .inf{
    /* border: 3px solid red; */
    width: 47%;
    padding: 0  40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dessert .container .main .item .inf h3{
    color:var(--imcolor1);
    font-size: 1.7rem;
    margin: 0 30px 10px 30px;
    
}
.dessert .container .main .item .inf h3+p{
    text-align: left;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.dessert .container .main .item .inf .food-in {
    /* border: 1px solid #000; */
    margin-bottom: 18%;
}

.dessert .container .main .item .inf .food-in .title {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.dessert .container .main .item .inf .food-in .title .line{
    /* border: 1px solid #000; */
    width: 90px;
    border-radius: 6px;
    height: 12px;
    background: radial-gradient(var(--imcolor2), var(--imcolor2) 3px, transparent 3px, transparent);
    background-size: 15px 100%;
}

.dessert .container .main .item .inf .food-in .title :nth-child(2){
    font-size: 1.3rem;
    color:var(--imcolor2);
    margin: 0 10px;
}




.dessert .container .main .item .inf ul{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dessert .container .main .item .inf ul li .circle{
    background-color:white;
    aspect-ratio:1 / 1;
    border-radius: 50%;
    padding: 10px;
    margin: 10px 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dessert .container .main .item .inf ul li p{
    font-size: 1rem;
}

.dessert .container .main .item .inf .price{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.dessert .container .main .item .inf .price:nth-of-type(2){
    margin: 3% 0;
}

.dessert .container .main .item .inf .price p {
    color:var(--imcolor1);
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 20px;
}



.dessert .container .main .item .inf .price .detail{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;

}

.dessert .container .main .item .inf .price .detail :first-child{
    /* border: 1px solid #000; */
    width: 100px;
    font-size: 1.4rem;
}

/* /////////////////font///////////////// */

.dessert .food-in i{
    font-size: 3rem;
    color:var(--color2);
    object-fit: cover;
  
   
}

/* /////////////////食用建議///////////////// */


.dessert .advice{
    border: 1px solid #000;
    width: 100%;
    border: 3px dashed var(--color3);
    border-radius: 15px;
    margin: 5% auto;
    padding: 20px 0;
    text-align: center;
    
}

.dessert .advice p:first-child{
    font-size: 1.2rem;
}




/* IG-post */

div{
    outline: 0;
}

.ig-post{
    width: 100%;
    margin: 10% auto;
}

.ig-post .container{
    /* border: 1px solid #000; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap:15px;
    

}

.ig-post .container .pic{
    width:100%;
    padding-bottom: 100%;
    position: relative; 
    overflow: hidden;
}


.ig-post .container .pic img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    background-color: var(--color2);
    
}

.ig-post .container .pic:hover::after{
    content: "查看貼文";
    opacity: .5;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% , -50%);
    color:white;
    font-size: 1.3rem;
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: .2rem;
    text-indent: .2em;
    
}


