.dessert{
    border: 1px solid #000;
    width: 100%;
}

.dessert .title-1{
    margin-top: 160px;
}


/* 導覽列 */

.dessert .nav{
    /* border: 1px solid #000; */
    display: flex;
    margin: auto;
    margin-bottom: 120px;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.dessert .nav a{

}

/* 介紹 */

.dessert .introduce{
    /* border: 1px solid #000; */
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 80px;
}

.dessert .introduce .pic, .dessert .introduce .inf-container{
    box-shadow: var(--box-shadow);
    width: 53%;
    padding-bottom: 30%;
    border-radius: 10px;
}

.dessert .introduce .inf-container{
    background-color:white;
    position: absolute;
    right: 0;
    top: -45px;
}

.dessert .introduce .inf-container .inf{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top:0%;
    bottom:0%;
}

.dessert .introduce .inf-container .inf h2{
    font-size: 2rem;
    font-weight: 300;
    text-align: center;  
}

.dessert .introduce .inf-container .inf p{
    margin-top: 30px;
    font-size: 1.2rem;
    text-align: left; 
    font-weight: 200; 
}


.dessert .introduce .pic{
    position: relative;


}

.dessert .introduce .pic img{
    width: 100%;
    border-radius: 10px;
    vertical-align: top;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;

}

.dessert .introduce .inf{
    background-color: white;
    /* border: 1px solid #000; */
    border-radius: 10px;
    position: absolute;
    top:-70px;
    right:0%;

}

/* 食用建議 */

.dessert .advice{
    width: 100%;
    border: 3px dashed var(--imcolor1);
    border-radius: 15px;
    margin: auto;
    padding: 30px 0;
    text-align: center;
}

.dessert .advice p:first-child{
    font-size: 1.4rem;
}

/* 商品們 */

.dessert .container{
    /* border: 1px solid #000; */
    border-radius: 40px;
    margin-top: 150px;
    padding: 40px;
    background-color: white;
    width: 100%;
    position: relative;
    box-shadow:15px 20px 0 #b9b9b9 ;
}

.dessert .container .btn{
    /* border: 1px solid #000; */
    display: flex;
    position: absolute;
    left:45px;
    top:-38px;
    z-index: -1;
}

.dessert .container .btn .btn-4{
    /* border: 1px solid #000; */
    margin: 0 13px;
}

.dessert .container .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;;
}

.dessert .container .item .card{
    /* border: 1px solid #000; */
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadowsmall);
}

.dessert .container .item .card .pic{
    border: 1px solid #000;
    width: 100%;
    padding-bottom:90%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
    
}

.dessert .container .item .card .pic img{
    border: 1px solid #000;
    width: 100%;
    position: absolute;
    /* object-fit: contain; */
    border-radius: 10px 10px 0 0;
}

/* IG-post */

.ig-post{
    width: 100%;
}

.ig-post .wrap{
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap:15px;
    

}

.ig-post .wrap .box{
    width:100%;
    padding-bottom: 100%;
    object-fit: cover;
    position: relative; 

}


.ig-post .wrap .box img{
    width: 100%;
    height: 100%;
    position: absolute;
    
}

